<section class="work" id="featured-work">
    <h2 style="margin-bottom : 20px;" >Past Events</h2>
    <section class="past-events" >
        <div class="carousel">
          <div class="slides">
            {% for event in events %}
              {% if event.status == 'completed'%}
                <div class="slide">
                  <a href="{% url 'single_work' event.slug %}">
                    <figure style="--aspect-ratio: 16 / 9">
                      <picture>
                        <source media="(max-width: 767px)" sizes="90vw" srcset="{{ event.header_image.url }}">
                        <img src="{{ event.header_image.url }}" alt="{{ event.title }}">
                      </picture>
                    </figure>
                    <div class="carousel-content" style = "font-size : 5rem;">
                      <h3>{{ event.date }}</h3>
                      <p>{{ event.title }}</p>
                    </div>
                  </a>
                </div>
                <br> <br> <br>
              {% endif %}
            {% endfor %}
            <div>
                <a class="button" href="{% url 'work' %}">
                    <div>
                        <p>All past event</p>
                    </div>
                </a>
            </div>
          </div>
        </div>
    </section>	
</section>
