{% extends "base.html" %}

{% block title %}Single Work{% endblock %}

{% block content %}
<header class="invert">
	<section class="intro">
		<header>
			<a href="../index.html">
				<p>Work</p>
			</a>
			<a href="index.html">
				<h1>S﻿tackabl</h1>
			</a>
		</header>
		<div>
			<blockquote>
				<p>Reimagining what’s possible with what’s already there</p>
			</blockquote>
			<div>
				<p>Reimagining what’s possible with what’s already there, design studio, STACKLAB, partnered with 20th Century furniture aficionados, Maison Gerard, to develop an innovative system for creating furniture without waste. Their groundbreaking design tool allows customers to create their own beautiful, modular furniture from high quality recycled materials.<br>
					<br>
					Our challenge was to create a name and brand that is equally high-end and high-tech, capturing the full appeal of this future-facing design system and the storied companies behind it.<br>
					<br>
					Inspired by the customizable functions of the technology, we came up with the name Stackabl—a simple, yet clever remix of STACKLAB. The artful identity complements the name, incorporating modular elements that are grounded in the dynamic principles of experiential design.
				</p>
			</div>
			<aside>
				<ul>
					<li>
						<p>Digital Design</p>
					</li>
					<li>
						<p>Launch Activation Concepting</p>
					</li>
					<li>
						<p>Naming</p>
					</li>
					<li>
						<p>Visual Identity</p>
					</li>
				</ul>
			</aside>
		</div>
	</section>
	<figure style="--aspect-ratio:16 / 9">
		<picture>
			<source media="(max-width: 767px)" sizes="90vw" srcset="/work/stackabl/230104_stkbl_casestudy_00_logo.gif">
			<img src="230104_stkbl_casestudy_00_logo.gif">
		</picture>
	</figure>
</header>
<article>
	<section class="single">
		<figure style="--aspect-ratio:16 / 9;--aspect-ratio--small:8 / 9">
			<video autoplay loop muted disablepictureinpicture playsinline preload="auto" poster="230104_stkbl_casestudy_01_logoicon_huebbfad1edfa8e198fe68a27ac6a615ca_150168_3200x0_resize_q90_linear.jpg">
				<source src="230104_stkbl_casestudy_01_logoicon.mp4" type="video/mp4">
				<p>S﻿tackabl logo and chair icon animation</p>
			</video>
		</figure>
	</section>
	<section class="double">
		<figure style="--aspect-ratio:8 / 9">
			<video autoplay loop muted disablepictureinpicture playsinline preload="auto" poster="230104_stkbl_casestudy_02_pixelpattern.jpg">
				<source src="230104_stkbl_casestudy_02_pixelpattern.mp4" type="video/mp4">
				<p>A﻿nimation of a pixel pattern forming chair icons</p>
			</video>
		</figure>
		<figure style="--aspect-ratio:8 / 9">
			<picture>
				<source media="(max-width: 767px)" sizes="90vw" srcset="/work/stackabl/230104_stkbl_casestudy_03_screw.jpg">
				<img src="230104_stkbl_casestudy_03_screw.jpg" alt="F﻿elt chair with Stackabl logo embedded on screw">
			</picture>
		</figure>
	</section>
	<section class="single">
		<figure style="--aspect-ratio:16 / 9">
			<video autoplay loop muted disablepictureinpicture playsinline preload="auto" poster="230104_stkbl_casestudy_04_iconchair_hu36dc30ec41362dee4f34ed0c627f514b_2249257_3200x0_resize_q90_linear.jpg">
				<source src="230104_stkbl_casestudy_04_iconchair.mp4" type="video/mp4">
				<p>Animation of chair photos paired with respective icons and names</p>
			</video>
		</figure>
	</section>
	<section class="single">
		<figure style="--aspect-ratio:16 / 9">
			<video autoplay loop muted disablepictureinpicture playsinline preload="auto" poster="230104_stkbl_casestudy_05_modular_hu85a2ebead47f7683dd1888d36f5597bd_1226313_3200x0_resize_q90_linear.jpg">
				<source src="230104_stkbl_casestudy_05_modular.mp4" type="video/mp4">
				<p>a﻿nimation of Stackabl modular layouts and design system</p>
			</video>
		</figure>
	</section>
	<section class="single">
		<figure style="--aspect-ratio:16 / 9">
			<video autoplay loop muted disablepictureinpicture playsinline preload="auto" poster="230104_stkbl_casestudy_06_website_huebbfad1edfa8e198fe68a27ac6a615ca_5916157_3200x0_resize_q90_linear.jpg">
				<source src="230104_stkbl_casestudy_06_website.mp4" type="video/mp4">
				<p>a﻿nimation of Stackabl website homepage cycling through chair images</p>
			</video>
		</figure>
	</section>
	<section class="single">
		<figure style="--aspect-ratio:16 / 9">
			<picture>
				<source media="(max-width: 767px)" sizes="90vw" srcset="/work/stackabl/230104_stkbl_casestudy_09_posters_hub8f0d39c2b2cf297f8416b66fe41b822_1138312_1600x0_resize_q90_linear.jpg">
				<img src="230104_stkbl_casestudy_09_posters_hub8f0d39c2b2cf297f8416b66fe41b822_1138312_3200x0_resize_q90_linear.jpg" alt="3﻿ stackabl poster designs">
			</picture>
		</figure>
	</section>
	<section class="single">
		<figure style="--aspect-ratio:16 / 9">
			<video autoplay loop muted disablepictureinpicture playsinline preload="auto" poster="230104_stkbl_casestudy_08_configurator_hua87cba8d994ee1fdcecf7fb8ff6af6ac_5753702_3200x0_resize_q90_linear.jpg">
				<source src="230104_stkbl_casestudy_08_configurator.mp4" type="video/mp4">
				<p>a﻿nimation of chair being customized on Stackabl&rsquo;s configurator</p>
			</video>
		</figure>
	</section>
	<section class="single">
		<figure style="--aspect-ratio:16 / 9">
			<picture>
				<source media="(max-width: 767px)" sizes="90vw" srcset="/work/stackabl/230104_stkbl_casestudy_10_social.gif">
				<img src="230104_stkbl_casestudy_10_social.gif" alt="3﻿ examples instagram posts for Stackabl' artist chair collaborations">
			</picture>
		</figure>
	</section>
	<section class="double">
		<figure style="--aspect-ratio:8 / 9">
			<picture>
				<source media="(max-width: 767px)" sizes="90vw" srcset="/work/stackabl/230104_stkbl_casestudy_11_certificate-tape.gif">
				<img src="230104_stkbl_casestudy_11_certificate-tape.gif" alt="g﻿if of branded tape and a certificate of authenticity">
			</picture>
		</figure>
		<figure style="--aspect-ratio:8 / 9">
			<video autoplay loop muted disablepictureinpicture playsinline preload="auto" poster="230104_stkbl_casestudy_13_socialstack.jpg">
				<source src="230104_stkbl_casestudy_13_socialstack.mp4" type="video/mp4">
				<p>s﻿tackabl instagram grid showcasing the logo letterforms</p>
			</video>
		</figure>
	</section>
	<section class="single">
		<figure style="--aspect-ratio:16 / 9">
			<picture>
				<source media="(max-width: 767px)" sizes="90vw" srcset="/work/stackabl/230104_stkbl_casestudy_14_tote_hu4addf31107fb0574700894478a44dbe5_8252559_1600x0_resize_q90_linear.jpg">
				<img src="230104_stkbl_casestudy_14_tote_hu4addf31107fb0574700894478a44dbe5_8252559_3200x0_resize_q90_linear.jpg" alt="woman with branded tote bag featuring stackabl logo">
			</picture>
		</figure>
	</section>
	<section class="sticky">
		<aside class="single">
			<p>Stackabl made its debut at the 2022 Salon Art + Design Fair. To turn heads, the clients signed on several well known artists to create one-of-a-kind pieces using the tool, helping showcase its endless design possibilities. Since then, Stackabl has been featured in many noteworthy publications and at design fairs around the world, generating a lot of recognition and winning highly sought after awards for its fresh take on sustainability.</p>
		</aside>
		<div>
			<figure style="--aspect-ratio:16 / 9">
				<picture>
					<source media="(max-width: 767px)" sizes="90vw" srcset="/work/stackabl/230104_stkbl_casestudy_15_press.gif">
					<img src="230104_stkbl_casestudy_15_press.gif" alt="Stackabl awards articles as displayed on iphone">
				</picture>
			</figure>
		</div>
	</section>
</article>
<section id="work">
	<header>
		<a href="../index.html">
			<h2>Work</h2>
		</a>
	</header>
	<menu>
		<li>
			<a href="../civic-news-company/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<picture>
						<source media="(max-width: 767px)" sizes="90vw" srcset="/work/civic-news-company/herothumbnail3_hu4981b765beb10932b1f884dce08f4f2b_99579_1600x0_resize_linear_3.png">
						<img src="../civic-news-company/herothumbnail3_hu4981b765beb10932b1f884dce08f4f2b_99579_3200x0_resize_linear_3.png" alt="The Civic News Company symbol over an electric green background">
					</picture>
				</figure>
				<div>
					<h3 class="title-summary-title">Civic News Company</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Revitalizing democracy through the power of local journalism</p>
				</blockquote>
			</a>
		</li>
		<li>
			<a href="../beautycon/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<picture>
						<source media="(max-width: 767px)" sizes="90vw" srcset="/work/beautycon/bc_casestudy_1_ooh_huebbfad1edfa8e198fe68a27ac6a615ca_3059321_1600x0_resize_q90_linear.jpg">
						<img src="../beautycon/bc_casestudy_1_ooh_huebbfad1edfa8e198fe68a27ac6a615ca_3059321_3200x0_resize_q90_linear.jpg">
					</picture>
				</figure>
				<div>
					<h3 class="title-summary-title">Beautycon</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Reviving a cultural force in beauty</p>
				</blockquote>
			</a>
		</li>
		<li>
			<a href="../ks-time-to-spring-24/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<picture>
						<source media="(max-width: 767px)" sizes="90vw" srcset="/work/ks-time-to-spring-24/240508_ks24_casestudy_01_hero-image_desktop_hu4750c7002727fe5498d6ef04e9858d74_2645259_1600x0_resize_q90_linear.jpg">
						<img src="../ks-time-to-spring-24/240508_ks24_casestudy_01_hero-image_desktop.jpg" alt="Stephanie Hsu featuring on the Kate Spade Spring 2024 Campaign hero shot">
					</picture>
				</figure>
				<div>
					<h3 class="title-summary-title">Kate Spade</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Celebrating a new season, with “Time to Spring”</p>
				</blockquote>
			</a>
		</li>
		<li>
			<a href="../the-information/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<video autoplay loop muted disablepictureinpicture playsinline preload="auto" poster="../the-information/240118_ti_casestudy_02_logobuild.jpg">
						<source src="../the-information/240118_ti_casestudy_00_thumbnail.mp4" type="video/mp4">
						<p>s﻿ide by side of the old The Information logo next to the new one</p>
					</video>
				</figure>
				<div>
					<h3 class="title-summary-title">The Information</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Evolving a trusted tech insider into a widespread authority</p>
				</blockquote>
			</a>
		</li>
		<li>
			<a href="../american-express/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<picture>
						<source media="(max-width: 767px)" sizes="90vw" srcset="/work/american-express/amex_thumb_hu523d979d18f9ecc5157bdb7d6a307003_950143_1600x0_resize_linear_3.png">
						<img src="../american-express/amex_thumb.png">
					</picture>
				</figure>
				<div>
					<h3 class="title-summary-title">American Express</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Creating new pathways to demand for a 175-year-old industry leader</p>
				</blockquote>
			</a>
		</li>
		<li>
			<a href="../tech-equity-collective/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<picture>
						<source media="(max-width: 767px)" sizes="90vw" srcset="/work/tech-equity-collective/230104_gtec_casestudy_thumbnail.gif">
						<img src="../tech-equity-collective/230104_gtec_casestudy_thumbnail.gif" alt="illustrated animation of a ball bouncing on a winding path">
					</picture>
				</figure>
				<div>
					<h3 class="title-summary-title">Tech Equity Collective</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Activating a new approach to accelerating Black genius everywhere</p>
				</blockquote>
			</a>
		</li>
		<li>
			<a href="../hilton/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<picture>
						<source media="(max-width: 767px)" sizes="90vw" srcset="/work/hilton/hilton_hero_hu4db903c156979b41d6dfa48385a1d782_3852425_1600x0_resize_q90_linear.jpg">
						<img src="../hilton/hilton_hero_hu4db903c156979b41d6dfa48385a1d782_3852425_3200x0_resize_q90_linear.jpg" alt="A﻿n image of a Tempo hotel room focusing on bedding with the Tempo logo by Hilton overlayed over the photograph.">
					</picture>
				</figure>
				<div>
					<h3 class="title-summary-title">Hilton</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Pioneering a new class of hotels for Hilton that raises the standard on business travel</p>
				</blockquote>
			</a>
		</li>
		<li>
			<a href="../kate-spade/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<picture>
						<source media="(max-width: 767px)" sizes="90vw" srcset="/work/kate-spade/ks_logo_hucae8ef0712d4e87f4f8aba3361904135_20861725_1600x0_resize_q90_linear.jpg">
						<img src="../kate-spade/ks_logo_hucae8ef0712d4e87f4f8aba3361904135_20861725_3200x0_resize_q90_linear.jpg">
					</picture>
				</figure>
				<div>
					<h3 class="title-summary-title">Kate Spade</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Establishing the modern era of a New York classic</p>
				</blockquote>
			</a>
		</li>
		<li>
			<a href="../uber/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<video autoplay loop muted disablepictureinpicture playsinline preload="auto" poster="../uber/uber_hero_1.gif">
						<source src="../uber/uber_casestudy_movement_20220415.mp4" type="video/mp4">
						<p>Make Movement for All</p>
					</video>
				</figure>
				<div>
					<h3 class="title-summary-title">Uber</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Transforming business for a new era of impact</p>
				</blockquote>
			</a>
		</li>
		<li>
			<a href="../wnba/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<picture>
						<source media="(max-width: 767px)" sizes="90vw" srcset="/work/wnba/wnba_08_huaf289723d1a2484b87dea49d6ac18ca2_12243768_1600x0_resize_q90_linear.jpg">
						<img src="../wnba/wnba_08_huaf289723d1a2484b87dea49d6ac18ca2_12243768_3200x0_resize_q90_linear.jpg" alt="WNBA logo">
					</picture>
				</figure>
				<div>
					<h3 class="title-summary-title">WNBA</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Reigniting the WNBA’s cultural resonance</p>
				</blockquote>
			</a>
		</li>
		<li>
			<a href="../mls-next-pro/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<picture>
						<source media="(max-width: 767px)" sizes="90vw" srcset="/work/mls-next-pro/mls_13_hu9a28dd9c5adafabc85f8452a98d29c97_3027151_1600x0_resize_q90_linear.jpg">
						<img src="../mls-next-pro/mls_13_hu9a28dd9c5adafabc85f8452a98d29c97_3027151_3200x0_resize_q90_linear.jpg" alt="MLS Next Pro">
					</picture>
				</figure>
				<div>
					<h3 class="title-summary-title">MLS Next Pro</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Defining a new league to elevate North American soccer</p>
				</blockquote>
			</a>
		</li>
		<li>
			<a href="../the-mom-project/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<video autoplay loop muted disablepictureinpicture playsinline preload="auto" poster="../the-mom-project/230104_tmp_casestudy_00_logo_huebbfad1edfa8e198fe68a27ac6a615ca_231196_3200x0_resize_q90_linear.jpg">
						<source src="../the-mom-project/230104_tmp_casestudy_00_logo.mp4" type="video/mp4">
						<p>a﻿nimation of the mom project monogram changing colors</p>
					</video>
				</figure>
				<div>
					<h3 class="title-summary-title">T﻿he Mom Project</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Building a new ally for motherhood in the workforce</p>
				</blockquote>
			</a>
		</li>
		<li>
			<a href="../disney/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<picture>
						<source media="(max-width: 767px)" sizes="90vw" srcset="/work/disney/and_thumbnail_hua8276fdd443b3b43e91b7cd9222d735c_11188779_1600x0_resize_linear_3.png">
						<img src="../disney/and_thumbnail_hua8276fdd443b3b43e91b7cd9222d735c_11188779_3200x0_resize_linear_3.png" alt="Andscape Billboard: Andscape, where blackness is infinite.">
					</picture>
				</figure>
				<div>
					<h3 class="title-summary-title">Disney</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Launching a global media platform where Blackness is infinite</p>
				</blockquote>
			</a>
		</li>
		<li>
			<a href="../spotify/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<video autoplay loop muted disablepictureinpicture playsinline preload="auto" poster="../spotify/spotify_herogreen.gif">
						<source src="../spotify/spotify_herogreen.mp4" type="video/mp4">
						<p>Motion graphic: audio waveform</p>
					</video>
				</figure>
				<div>
					<h3 class="title-summary-title">Spotify</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Directing a promising new offering for Spotify</p>
				</blockquote>
			</a>
		</li>
		<li>
			<a href="../terry-tsiolis/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<picture>
						<source media="(max-width: 767px)" sizes="90vw" srcset="/work/terry-tsiolis/terry_2_hub6b893cc6bcd94a8b83f7ad2d3b08df4_756697_1600x0_resize_q90_linear.jpg">
						<img src="../terry-tsiolis/terry_2.jpg">
					</picture>
				</figure>
				<div>
					<h3 class="title-summary-title">Terry Tsiolis</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Reframing beauty for Terry Tsiolis’ collection of open studio portraits</p>
				</blockquote>
			</a>
		</li>
		<li>
			<a href="../anonymous/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<video autoplay loop muted disablepictureinpicture playsinline preload="auto" poster="../anonymous/diageo_thumb_still.jpg">
						<source src="../anonymous/diageo_thumb.mp4" type="video/mp4">
					</video>
				</figure>
				<div>
					<h3 class="title-summary-title">Anonymous</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Crafting a more inclusive approach to innovation</p>
				</blockquote>
			</a>
		</li>
	</menu>
</section>
{% endblock %}