{% extends "base.html" %}

{% block title %}work{% endblock %}

{% block content %}
<header>
	<h1>Work</h1>
	<menu>
		<li class="current">
			<a href="index.html">
				<h2>All</h2>
			</a>
		</li>
		<li>
			<a href="strategy/index.html">
				<h2>Strategy</h2>
			</a>
		</li>
		<li>
			<a href="design/index.html">
				<h2>Design</h2>
			</a>
		</li>
	</menu>
</header>
<section>
	<menu>
		<li class="featured">
			<a href="civic-news-company/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<picture>
						<source media="(max-width: 767px)" sizes="90vw" srcset="/work/civic-news-company/herothumbnail3_hu4981b765beb10932b1f884dce08f4f2b_99579_1600x0_resize_linear_3.png">
						<img src="civic-news-company/herothumbnail3_hu4981b765beb10932b1f884dce08f4f2b_99579_3200x0_resize_linear_3.png" alt="The Civic News Company symbol over an electric green background">
					</picture>
				</figure>
				<div>
					<h3 class="title-summary-title">Civic News Company</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Revitalizing democracy through the power of local journalism</p>
				</blockquote>
			</a>
		</li>
		<li>
			<a href="beautycon/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<picture>
						<source media="(max-width: 767px)" sizes="90vw" srcset="/work/beautycon/bc_casestudy_1_ooh_huebbfad1edfa8e198fe68a27ac6a615ca_3059321_1600x0_resize_q90_linear.jpg">
						<img src="beautycon/bc_casestudy_1_ooh_huebbfad1edfa8e198fe68a27ac6a615ca_3059321_3200x0_resize_q90_linear.jpg">
					</picture>
				</figure>
				<div>
					<h3 class="title-summary-title">Beautycon</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Reviving a cultural force in beauty</p>
				</blockquote>
			</a>
		</li>
		<li>
			<a href="ks-time-to-spring-24/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<picture>
						<source media="(max-width: 767px)" sizes="90vw" srcset="/work/ks-time-to-spring-24/240508_ks24_casestudy_01_hero-image_desktop_hu4750c7002727fe5498d6ef04e9858d74_2645259_1600x0_resize_q90_linear.jpg">
						<img src="ks-time-to-spring-24/240508_ks24_casestudy_01_hero-image_desktop.jpg" alt="Stephanie Hsu featuring on the Kate Spade Spring 2024 Campaign hero shot">
					</picture>
				</figure>
				<div>
					<h3 class="title-summary-title">Kate Spade</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Celebrating a new season, with “Time to Spring”</p>
				</blockquote>
			</a>
		</li>
		<li>
			<a href="the-information/index.html">
				<figure style="--aspect-ratio:16 / 9">
					<video autoplay loop muted disablepictureinpicture playsinline preload="auto" poster="the-information/240118_ti_casestudy_02_logobuild.jpg">
						<source src="the-information/240118_ti_casestudy_00_thumbnail.mp4" type="video/mp4">
						<p>s﻿ide by side of the old The Information logo next to the new one</p>
					</video>
				</figure>
				<div>
					<h3 class="title-summary-title">The Information</h3>
				</div>
				<blockquote class="title-summary-body">
					<p>Evolving a trusted tech insider into a widespread authority</p>
				</blockquote>
			</a>
		</li>
	</menu>
</section>
{% endblock %}