{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block body_class %}about nav--pre{% endblock %}

{% block extra_css %}
	<link href="../static/styles/about.css" rel="stylesheet">
{% endblock %}

{% load mathfilters %}

{% block content %}

<header id="overview">
	<section class="overview">
		<h1 class="about-section-title">Overview</h1>
		<span id="about-overview-content-wrapper" class="about-overview-content-wrapper">
			<h1>We Make New.</h1>
			{% lorem 1 b random %}
		</span>
	</section>
</header>


<section class="capabilities" id="capabilities" style="border-bottom:none">
	<div class="capabilities-header-wrapper">
		<h2 class="capabilities-header">Capabilities</h2>
		<p >We collaborate to unstick the world from its ways and find paths forward for our partners and ourselves.</p>
	</div>
	<div class="capabilities-details-wrapper">
			<div class="capabilities-item-wrapper">
				<div class="capabilities-expand-wrapper">
					<div class="capabilities-expand-content">
						<p>The E-Cell envisions a dynamic entrepreneurial ecosystem that fosters innovation, nurtures creative minds, and empowers students to become future leaders and change-makers. By bridging the gap between ideas and execution, we aim to create an environment</p>
						<p>where aspiring entrepreneurs can develop groundbreaking solutions that drive economic growth and social impact</p>
					</div>
				</div>
				<button class="capabilities-expand-button">
					<p class="capabilities-item-title">Vision</p>
					<div class="capabilities-expand-icon-wrapper"><svg class="capabilities-expand-icon" width="46" height="47" viewBox="0 0 46 47" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path class="capabilities-expand-plus" d="M24.1232 22.0952H45.2184v3.028H24.1232V46.2184h-3.028V25.1232H0v-3.028H21.0952V1h3.028V22.0952z" fill="#a8a8a8" />
							<path class="capabilities-expand-minus" d="M21 21.8768V.781612h3.028V21.8768v3.028V46H21V24.9048v-3.028z" fill="#a8a8a8" />
						</svg>
					</div>
				</button>
			</div>
			<div class="capabilities-item-wrapper">
				<div class="capabilities-expand-wrapper">
					<div class="capabilities-expand-content">
						<p>Our mission is to cultivate an entrepreneurial mindset among students by providing mentorship, skill development programs, networking opportunities, and real-world exposure to the startup ecosystem. We strive to inspire and support individuals in transforming their ideas into</p>
						<p>successful ventures through workshops, competitions, industry interactions, and hands-on learning experiences.</p>
					</div>
				</div>
				<button class="capabilities-expand-button">
					<p class="capabilities-item-title">Mission</p>
					<div class="capabilities-expand-icon-wrapper"><svg class="capabilities-expand-icon" width="46" height="47" viewBox="0 0 46 47" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path class="capabilities-expand-plus" d="M24.1232 22.0952H45.2184v3.028H24.1232V46.2184h-3.028V25.1232H0v-3.028H21.0952V1h3.028V22.0952z" fill="#a8a8a8" />
							<path class="capabilities-expand-minus" d="M21 21.8768V.781612h3.028V21.8768v3.028V46H21V24.9048v-3.028z" fill="#a8a8a8" />
						</svg>
					</div>
				</button>
			</div>
			<div class="capabilities-item-wrapper">
				<div class="capabilities-expand-wrapper">
					<div class="capabilities-expand-content">
						<p>The primary goal of the E-Cell is to encourage and support students in their entrepreneurial journey by equipping them with the necessary knowledge, resources, and industry connections. We aim to foster a culture of innovation, problem-solving, and</p>
						<p>self-sustainability, helping students develop their ventures and contribute to the growth of the startup ecosystem.</p>
					</div>
				</div>
				<button class="capabilities-expand-button">
					<p class="capabilities-item-title">Goal</p>
					<div class="capabilities-expand-icon-wrapper"><svg class="capabilities-expand-icon" width="46" height="47" viewBox="0 0 46 47" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path class="capabilities-expand-plus" d="M24.1232 22.0952H45.2184v3.028H24.1232V46.2184h-3.028V25.1232H0v-3.028H21.0952V1h3.028V22.0952z" fill="#a8a8a8" />
							<path class="capabilities-expand-minus" d="M21 21.8768V.781612h3.028V21.8768v3.028V46H21V24.9048v-3.028z" fill="#a8a8a8" />
						</svg>
					</div>
				</button>
			</div>
	</div>
</section>

<address id="offices">
	<header>
		<h2>Faculty</h2>
	</header>
	<menu>
		{% for data in faculty  %}
			<li>
				<div>
					<a href="" target="_blank">
						<img src="{{data.photo.url}}" />
					</a>
				</div>
				<div>
					<a href="">
						<p>
							{{data.name}}<br>{{data.designation}}
						</p>
					</a>
				</div>
			</li>
		{% endfor %}
		
	</menu>
</address>

<section class="team" id="team" style="border-top:none">
	<header>
		<h2>Team</h2>
		<div>
			<p>We are a dynamic team of innovators who embrace our unique perspectives to drive creativity, progress, and growth in the entrepreneurial ecosystem.</p>
		</div>
		<div id="team-bio-wrapper" class="team-bio-wrapper"></div>
	</header>
	<ul>
		{% for team in team  %}
			<li class="team-member">
				<figure>
					<picture>
						<img src="{{team.profile_photo.url}}">
					</picture>
					<figcaption>
						<h3>{{team.first_name}} {{team.last_name}}</h3>
						<p>{{team.designation}}</p>
						<div>
							<p>
								{{team.department}}
							</p>
						</div>
					</figcaption>
				</figure>
			</li>
		{% endfor %}
	</ul>
</section>

<section class="clients" id="clients">
	<header>
		<h2>Register StartUps</h2>
	</header>
	<ul style="--client--count:39">
		{% for startup in startup  %} 
			<li>
				<p onclick="window.location.href='{{startup.website}}';" style="cursor: pointer;">
					{{startup.startup_name}}
				</p>
			</li>
		{% endfor %}
	</ul>
</section>

{% endblock %}
