
{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block body_class %}about nav--pre{% endblock %}

{% block extra_css %}
	<link href="../static/styles/about.css" rel="stylesheet">
{% endblock %}

{% block content %}

<header id="overview">
	<section class="overview">
		<h1 class="about-section-title">Overview</h1>
		<span id="about-overview-content-wrapper" class="about-overview-content-wrapper">
			<h1>We Make New.</h1>
			A strategy and design company creating new human and business value for
			the
			<a href="index.html#" class="about-overview-link" id="overview-link-now">
				<p class="link-text">Now,</p>
				<span class="link-line"></span>
				<span class="link-content" id="overview-link-now-content">
					Solving for the most current and relevant cultural shifts</span>
			</a>
			<a href="index.html#" class="about-overview-link" id="overview-link-novel">
				<p class="link-text">Novel,</p>
				<span class="link-line"></span>
				<span class="link-content" id="overview-link-novel-content">Divergent and differentiating, making work that feels ownable and
					independent.</span>
			</a>
			and
			<a href="index.html#" class="about-overview-link" id="overview-link-next">
				<p class="link-text">Next.</p>
				<span class="link-line"></span>
				<span class="link-content" id="overview-link-next-content">Envisioning what&rsquo;s to come for businesses and brands moving
					forward</span>
			</a>
		</span>
	</section>
</header>
<section class="capabilities" id="capabilities" style="border-bottom:none">
	<div class="capabilities-header-wrapper">
		<h2 class="capabilities-header">Capabilities</h2>
		<p>We collaborate to unstick the world from its ways and find paths forward for our partners and ourselves.</p>
	</div>
	<div class="capabilities-details-wrapper">
		<div class="capabilities-item-wrapper">
			<div class="capabilities-expand-wrapper">
				<div class="capabilities-expand-content">
					<p>Brand Positioning</p>
					<p>Brand Architecture</p>
					<p>Visual & Verbal Identity</p>
					<p>Brand Narrative</p>
					<p>Activation Planning</p>
				</div>
			</div>
			<button class="capabilities-expand-button">
				<p class="capabilities-item-title">Defining Brand</p>
				<div class="capabilities-expand-icon-wrapper"><svg class="capabilities-expand-icon" width="46" height="47" viewBox="0 0 46 47" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path class="capabilities-expand-plus" d="M24.1232 22.0952H45.2184v3.028H24.1232V46.2184h-3.028V25.1232H0v-3.028H21.0952V1h3.028V22.0952z" fill="#a8a8a8" />
						<path class="capabilities-expand-minus" d="M21 21.8768V.781612h3.028V21.8768v3.028V46H21V24.9048v-3.028z" fill="#a8a8a8" />
					</svg>
				</div>
			</button>
		</div>
		<div class="capabilities-item-wrapper">
			<div class="capabilities-expand-wrapper">
				<div class="capabilities-expand-content">
					<p>Whitespace & Territory</p>
					<p>Pipeline & Portfolio Strategy</p>
					<p>Ideation & Concepting</p>
					<p>Prototyping & Piloting</p>
				</div>
			</div>
			<button class="capabilities-expand-button">
				<p class="capabilities-item-title">Evolving Business</p>
				<div class="capabilities-expand-icon-wrapper"><svg class="capabilities-expand-icon" width="46" height="47" viewBox="0 0 46 47" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path class="capabilities-expand-plus" d="M24.1232 22.0952H45.2184v3.028H24.1232V46.2184h-3.028V25.1232H0v-3.028H21.0952V1h3.028V22.0952z" fill="#a8a8a8" />
						<path class="capabilities-expand-minus" d="M21 21.8768V.781612h3.028V21.8768v3.028V46H21V24.9048v-3.028z" fill="#a8a8a8" />
					</svg>
				</div>
			</button>
		</div>
		<div class="capabilities-item-wrapper">
			<div class="capabilities-expand-wrapper">
				<div class="capabilities-expand-content">
					<p>Audience Immersion & Profiles</p>
					<p>Culture & Landscape Auditing</p>
					<p>Opportunity Space Identification</p>
				</div>
			</div>
			<button class="capabilities-expand-button">
				<p class="capabilities-item-title">Identifying Opportunities</p>
				<div class="capabilities-expand-icon-wrapper"><svg class="capabilities-expand-icon" width="46" height="47" viewBox="0 0 46 47" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path class="capabilities-expand-plus" d="M24.1232 22.0952H45.2184v3.028H24.1232V46.2184h-3.028V25.1232H0v-3.028H21.0952V1h3.028V22.0952z" fill="#a8a8a8" />
						<path class="capabilities-expand-minus" d="M21 21.8768V.781612h3.028V21.8768v3.028V46H21V24.9048v-3.028z" fill="#a8a8a8" />
					</svg>
				</div>
			</button>
		</div>
		<div class="capabilities-item-wrapper">
			<div class="capabilities-expand-wrapper">
				<div class="capabilities-expand-content">
					<p>Communications Strategy</p>
					<p>Creative Communications</p>
					<p>Content Creation</p>
					<p>Brand Experiences</p>
					<p>Product & Packaging Design</p>
				</div>
			</div>
			<button class="capabilities-expand-button">
				<p class="capabilities-item-title">Creating Moments</p>
				<div class="capabilities-expand-icon-wrapper"><svg class="capabilities-expand-icon" width="46" height="47" viewBox="0 0 46 47" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path class="capabilities-expand-plus" d="M24.1232 22.0952H45.2184v3.028H24.1232V46.2184h-3.028V25.1232H0v-3.028H21.0952V1h3.028V22.0952z" fill="#a8a8a8" />
						<path class="capabilities-expand-minus" d="M21 21.8768V.781612h3.028V21.8768v3.028V46H21V24.9048v-3.028z" fill="#a8a8a8" />
					</svg>
				</div>
			</button>
		</div>
	</div>
</section>
<section class="clients" id="clients">
	<header>
		<h2>Clients</h2>
	</header>
	<ul style="--client--count:39">
		<li>
			<p>
				AB InBev
			</p>
		</li>
		<li>
			<p>
				ACLU
			</p>
		</li>
		<li>
			<p>
				Airbnb
			</p>
		</li>
		<li>
			<p>
				Amazon
			</p>
		</li>
		<li>
			<p>
				American Express
			</p>
		</li>
		<li>
			<p>
				Apple
			</p>
		</li>
		<li>
			<p>
				BlackRock
			</p>
		</li>
		<li>
			<p>
				Bloomberg
			</p>
		</li>
		<li>
			<p>
				Booking.com
			</p>
		</li>
		<li>
			<p>
				Calvin Klein
			</p>
		</li>
		<li>
			<p>
				Chanel
			</p>
		</li>
		<li>
			<p>
				CrossFit
			</p>
		</li>
		<li>
			<p>
				Diageo
			</p>
		</li>
		<li>
			<p>
				Disney
			</p>
		</li>
		<li>
			<p>
				Electronic Arts (EA)
			</p>
		</li>
		<li>
			<p>
				General Motors
			</p>
		</li>
		<li>
			<p>
				Google
			</p>
		</li>
		<li>
			<p>
				Hilton
			</p>
		</li>
		<li>
			<p>
				IKEA
			</p>
		</li>
		<li>
			<p>
				Kate Spade
			</p>
		</li>
		<li>
			<p>
				Masterclass
			</p>
		</li>
		<li>
			<p>
				Meta
			</p>
		</li>
		<li>
			<p>
				Milk Makeup
			</p>
		</li>
		<li>
			<p>
				MLS
			</p>
		</li>
		<li>
			<p>
				MoMA
			</p>
		</li>
		<li>
			<p>
				NBA
			</p>
		</li>
		<li>
			<p>
				Netflix
			</p>
		</li>
		<li>
			<p>
				The New York Times
			</p>
		</li>
		<li>
			<p>
				Olaplex
			</p>
		</li>
		<li>
			<p>
				Paramount
			</p>
		</li>
		<li>
			<p>
				PepsiCo
			</p>
		</li>
		<li>
			<p>
				Samsung
			</p>
		</li>
		<li>
			<p>
				Spotify
			</p>
		</li>
		<li>
			<p>
				Tripadvisor
			</p>
		</li>
		<li>
			<p>
				Twitter
			</p>
		</li>
		<li>
			<p>
				Uber
			</p>
		</li>
		<li>
			<p>
				VFC
			</p>
		</li>
		<li>
			<p>
				Viacom
			</p>
		</li>
		<li>
			<p>
				Walmart
			</p>
		</li>
	</ul>
</section>
<section class="team" id="team" style="border-top:none">
	<header>
		<h2>Team</h2>
		<div>
			<p>We are an eclectic band of misfits that apply our otherness to the pursuit of invention, betterment, and growth.</p>
		</div>
		<div id="team-bio-wrapper" class="team-bio-wrapper"></div>
	</header>
	<ul>
		<li class="team-member">
			<figure>
				<picture>
					<img src="/images/teamMembers/adraintbereal.jpg">
				</picture>
				<figcaption>
					<h3>Dan Abary</h3>
					<p>Design</p>
					<div>
						<p>
							Los Angeles
						</p>
					</div>
				</figcaption>
			</figure>
		</li>
		<li class="team-member">
			<figure>
				<picture>
					<img src="/images/teamMembers/cristoferalmanzar.jpg">
				</picture>
				<figcaption>
					<h3>Kelly Adachi</h3>
					<p>Strategy </p>
					<div>
						<p>
							New York City
						</p>
					</div>
				</figcaption>
			</figure>
		</li>
		<li class="team-member">
			<figure>
				<picture>
					<img src="/images/teamMembers/fadeakinsade.jpg">
				</picture>
				<figcaption>
					<h3>Fadé Akinsade</h3>
					<p>Strategy </p>
					<div>
						<p>
							New York City
						</p>
					</div>
				</figcaption>
			</figure>
		</li>
	</ul>
</section>
<address id="offices">
	<header>
		<h2>Offices</h2>
	</header>
	<menu>
		<li>
			<h3>
				New York City
			</h3>
			<div>
				<a href="https://maps.google.com/?q=176+Grand+Street,New+York,+NY+10013" target="_blank">
					<p>
						176 Grand Street, 3rd Fl.
						<br>
						New York, NY 10013
					</p>
				</a>
			</div>
			<div>
				<a href="tel:+16465642455">
					<p>
						+1 (646) 564 2455
					</p>
				</a>
			</div>
		</li>
		<li>
			<h3>
				Richmond
			</h3>
			<div>
				<a href="https://maps.google.com/?q=217+W.+7th+Street,Richmond,+VA+23224" target="_blank">
					<p>
						217 W. 7th Street
						<br>
						Richmond, VA 23224
					</p>
				</a>
			</div>
			<div>
				<a href="tel:+18042038540">
					<p>
						+1 (804) 203 8540
					</p>
				</a>
			</div>
		</li>
		<li>
			<h3>
				Amsterdam
			</h3>
			<div>
				<a href="https://maps.google.com/?q=Keizersgracht+555,1017+DR+Amsterdam" target="_blank">
					<p>
						Keizersgracht 555
						<br>
						1017 DR Amsterdam
					</p>
				</a>
			</div>
			<div>
				<a href="tel:+31207084560">
					<p>
						+31 20 708 4560
					</p>
				</a>
			</div>
		</li>
	</menu>
</address>
{% endblock %}
