
{% extends "base.html" %}

{% block title %}Carrer{% endblock %}

{% block body_class %}carrer nav--pre{% endblock %}

{% block extra_css %}
	<link href="../static/styles/privacy.css" rel="stylesheet">
{% endblock %}


{% block content %}
<section id="careers-intro-wrapper" class="careers-section careers-intro-wrapper">
	<h1 class="careers-section-title">Careers</h1>
	<div class="careers-intro-type-wrapper">
		<div class="careers-intro-kindred-spirits-shape">
			<div class="modal-dismiss-area"></div>
			<div class="careers-intro-kindred-spirits-content">
				<span class="careers-intro-kindred-spirits-intro-copy">Diversity & Inclusion AT SYLVAIN</span>
				<p>As a Black-founded company, “diversity” is not only in our DNA, it&rsquo;s our inherent point of difference. We celebrate the differences among us, while seeking the people that reflect our internal spirit: &ldquo;hard on the work, kind to each other.&rdquo; Ultimately, our commitment to diversity is not a strategic initiative&mdash;it&rsquo;s just who we are.</p>
			</div>
		</div>
		<span id="careers-intro-content-wrapper" class="careers-intro-content-wrapper">
			SYLVAIN is a <a href="../careers.1#" class="careers-intro-link" id="intro-link-misfits">community</a> of misfits harnessing strategy and design for the <a href="../careers.1#" class="careers-intro-link" id="intro-link-good">greatest good.</a> We&rsquo;re always seeking <a href="../careers.1#" class="careers-intro-link" id="intro-link-kindred-spirits">kindred spirits</a>—those with <a href="../careers.1#" class="careers-intro-link" id="intro-link-passion">boundless passion,</a> and
			<a href="../careers.1#" class="careers-intro-link" id="intro-link-curiosity">endless curiosity.</a>
			<div class="careers-intro-passion-shape">
				<div class="modal-dismiss-area"></div>
				<div id="careers-intro-passion-content" class="careers-intro-passion-scroll-wrapper">
					<div class="careers-intro-passion-content">
						<div><img class="careers-intro-misfits-modal-image" src="../images/passions-1.png"><span class="careers-image-caption">We are writers</span></div>
						<div><img class="careers-intro-misfits-modal-image" src="../images/passions-2.png"><span class="careers-image-caption">We are dog people</span></div>
						<div><img class="careers-intro-misfits-modal-image" src="../images/passions-3a.png"><span class="careers-image-caption">We are podcasters</span></div>
						<div><img class="careers-intro-misfits-modal-image" src="../images/passions-3.png"><span class="careers-image-caption">We are musicians</span></div>
						<div><img class="careers-intro-misfits-modal-image" src="../images/passions-4.png"><span class="careers-image-caption">We are bakers</span></div>
						<div><img class="careers-intro-misfits-modal-image" src="../images/passions-5.png"><span class="careers-image-caption">We are painters</span></div>
						<div><img class="careers-intro-misfits-modal-image" src="../images/passions-6.png"><span class="careers-image-caption">We are music enthusiasts</span></div>
						<div><img class="careers-intro-misfits-modal-image" src="../images/passions-6a.png"><span class="careers-image-caption">We are zine makers</span></div>
						<div><img class="careers-intro-misfits-modal-image" src="../images/passions-7.png"><span class="careers-image-caption">We are artists</span></div>
						<div><img class="careers-intro-misfits-modal-image" src="../images/passions-8.png"><span class="careers-image-caption">We are ceramicists</span></div>
						<div><img class="careers-intro-misfits-modal-image" src="../images/passions-9.png"><span class="careers-image-caption">We are speakers</span></div>
						<div><img class="careers-intro-misfits-modal-image" src="../images/passions-10.png"><span class="careers-image-caption">We are athletes</span></div>
					</div>
				</div>
			</div>
			<div class="careers-intro-curiosity-shape">
				<div class="modal-dismiss-area"></div>
				<div class="careers-intro-curiosity-content">
					<video mutedautoplay playsinline loop id="careers-curiosity-video">
						<source src="../images/curiousity-video-2x.mp4">
					</video>
					<span class="careers-image-caption"><a href="https://www.thisisnonsense.com/" target="_blank">Listen to Critical Nonsense.</a></span>
				</div>
			</div>
			Sound like you? Let&rsquo;s make new, together.
			<div id="careers-intro-misfits-modal-wrapper" class="careers-intro-misfits-modal-wrapper">
				<div id="careers-intro-misfits-modal-content" class="careers-intro-misfits-modal-content">
					<div class="careers-intro-misfits-modal-image-wrapper">
						<img class="careers-intro-misfits-modal-image" src="../images/misfits-a.jpg">
					</div>
					<div class="careers-intro-misfits-modal-image-wrapper">
						<img class="careers-intro-misfits-modal-image" src="../images/misfits-b.jpg">
					</div>
					<div class="careers-intro-misfits-modal-image-wrapper">
						<img class="careers-intro-misfits-modal-image" src="../images/misfits-c.jpg">
					</div>
					<div class="careers-intro-misfits-modal-image-wrapper">
						<img class="careers-intro-misfits-modal-image" src="../images/misfits-d.jpg">
					</div>
					<div class="careers-intro-misfits-modal-image-wrapper">
						<img class="careers-intro-misfits-modal-image" src="../images/misfits-e.jpg">
					</div>
					<div class="careers-intro-misfits-modal-image-wrapper">
						<img class="careers-intro-misfits-modal-image" src="../images/misfits-f.jpg">
					</div>
					<div class="careers-intro-misfits-modal-image-wrapper">
						<img class="careers-intro-misfits-modal-image" src="../images/misfits-g.jpg">
					</div>
					<div class="careers-intro-misfits-modal-image-wrapper">
						<img class="careers-intro-misfits-modal-image" src="../images/misfits-h.jpg">
					</div>
					<div class="careers-intro-misfits-modal-image-wrapper">
						<img class="careers-intro-misfits-modal-image" src="../images/misfits-i.jpg">
					</div>
					<div class="careers-intro-misfits-modal-image-wrapper">
						<img class="careers-intro-misfits-modal-image" src="../images/misfits-j.jpg">
					</div>
					<div class="careers-intro-misfits-modal-image-wrapper">
						<img class="careers-intro-misfits-modal-image" src="../images/misfits-k.jpg">
					</div>
				</div>
			</div>
			<div id="careers-intro-good-modal-wrapper" class="careers-intro-good-modal-wrapper">
				<div class="careers-intro-good-modal-content">
					<div class="modal-dismiss-area"></div>
					<a target="_blank" href="https://impact.sylvain.co">
						<img src="../images/careers-greater-good-modal.png">
					</a>
				</div>
			</div>
</section>
<section class="careers-section careers-benefits-wrapper">
	<div class="careers-benefits-grid">
		<div>
			<h1 class="careers-section-title inverted">Benefits</h1>
		</div>
		<div class="careers-benefits-list">
			<div class="careers-benefits-list-item">
				<span class="careers-benefits-list-item-title">Flexible Hybrid Work</span>
				<span class="careers-benefits-list-item-body">We optimize productivity for work-style and work-life integration. Team members have the opportunity to work from home, any one of our offices, or while traveling anywhere on the globe.</span>
			</div>
			<div class="careers-benefits-list-item">
				<span class="careers-benefits-list-item-title">Open PTO</span>
				<span class="careers-benefits-list-item-body">On top of a generous calendar of holidays and office closures, we have an open Paid Time Off policy that's designed to encourage time away from work.</span>
			</div>
			<div class="careers-benefits-list-item">
				<span class="careers-benefits-list-item-title">Comprehensive Wellness</span>
				<span class="careers-benefits-list-item-body">A range of medical, vision, and dental insurance options are available through Aetna, plus wellness perks through Kindbody, TalkSpace, OneMedical, Citi Bike, and ClassPass.</span>
			</div>
			<div class="careers-benefits-list-item">
				<span class="careers-benefits-list-item-title">Culture & Learning Budget</span>
				<span class="careers-benefits-list-item-body">Every employee receives an annual budget to spend on furthering their interests and abilities. e.g., tap dancing lessons, purchasing an accordion, museum or concert tickets, 3D printing class, food zine subscriptions.
				</span>
			</div>
			<div class="careers-benefits-list-item">
				<span class="careers-benefits-list-item-title">New Experiences Together</span>
				<span class="careers-benefits-list-item-body">We&rsquo;ve taken Jaunts to global cities. Whitewater rafted the James River in Richmond. Cruised the canals of Amsterdam. Lazed in the parks of NYC. Taught each other the craft of strategy and design at Misfit Week. And more.
				</span>
			</div>
			<div class="careers-benefits-list-item">
				<span class="careers-benefits-list-item-title">And of Course ...</span>
				<span class="careers-benefits-list-item-body">
					We offer 401k retirement benefits including a 3% company contribution, paid Parental Leave, and an Employee Assistance Program to help navigate various challenges in and outside of work.
				</span>
			</div>
		</div>
	</div>
</section>
<section class="careers-section careers-open-roles-wrapper" id="open-roles">
	<div class="careers-open-roles-intro-wrapper">
		<h1 class="careers-section-title">Open Roles</h1>
		<span class="careers-section-subtitle">We hire for people rather than roles, so even if you don’t see a role that fits right now, you can always apply as an open inquiry.</span>
	</div>
	<div id="careers-open-roles-content" class="careers-open-roles-content">
	</div>
</section>
{% endblock %}