{% extends "base.html" %}

{% block title %}Events{% endblock %}

{% block body_class %}work nav--pre single nav--invert{% endblock %}

{% block extra_css %}
	<link href="../static/styles/work.css" rel="stylesheet">
{% endblock %}

{% block content %}
<header class="invert">
	<section class="intro">
		<div>
			<blockquote>
				<p>{{event.title}} <br/> {{event.date}}</p>
			</blockquote>
		</div>
	</section>
</header>

<article>
  <section class="single">
        <figure style="--aspect-ratio: 16 / 9 ;">
          <picture>
            <source media="(max-width: 767px)" sizes="90vw" srcset="{{ media.header_image.url }}">
            <img src="{{ event.header_image.url }}" alt="{{ event.title }}">
          </picture>
        </figure>
  </section>

  <section class="sticky">
    <aside class="single">
      {{ event.detail_description|safe }}
    </aside>
  </section>

  {% for data in img_list %}
    <section class="single">
      <figure style="--aspect-ratio: 16 / 9 ;">
        <picture>
          <source media="(max-width: 767px)" sizes="90vw" srcset="{{ data.image.url }}">
          <img src="{{ data.image.url }}" alt="{{ event.title }}">
        </picture>
      </figure>
    </section>
  {% endfor %}

  {% for data in video_list %}
    <section class="single">
      <figure >
        <picture>
          {{data.embed_video|safe}}
        </picture>
      </figure>
    </section>
  {% endfor %}
</article> 


<section id="work">
	<header>
		<a href="{% url 'work' %}">
			<h2>All Events</h2>
		</a>
	</header>
	<menu>
		{% for data in allEvents  %}
			{% if  data.slug != event.slug %}
				<li>
					<a href="{% url 'single_work' data.slug %}">
						<figure style="--aspect-ratio:16 / 9">
							<picture>
								<source media="(max-width: 767px)" sizes="90vw" srcset="{{data.header_image.url}}">
								<img src="{{data.header_image.url}}" alt="{{data.title}}">
							</picture>
						</figure>
						<div>
							<h3 class="title-summary-title">{{data.title}}</h3>
						</div>
						<blockquote class="title-summary-body">
							<p>{{data.description}}</p>
						</blockquote>
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</menu>
  <br/> <br/>
</section>
{% endblock %}