{% extends "base.html" %}

{% block title %}privacy{% endblock %}

{% block body_class %}updates nav--pre{% endblock %}

{% block extra_css %}
	<link href="../static/styles/updates.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div>
	<section class="featured" id="featured">
		<header>
			<h1>Featured updates</h1>
		</header>
		<section>
			<figure style="--aspect-ratio:16 / 9">
				<picture>
					<source media="(max-width: 767px)" sizes="90vw" srcset="/updates/adage_site_hueae52a5162c86ae0c3747b694fd56edd_1700914_1600x0_resize_linear_3.png">
					<img src="adage_site.png">
				</picture>
			</figure>
			<header>
				<h3>We’re one of Ad Age's Best Places to Work!</h3>
			</header>
			<aside>
				<p>In our (admittedly biased) hearts, SYLVAIN has always been the best place to work, but now it’s official.</p>
				<p>Together, we’ve created a work culture that’s as fun as it is rigorous. As honest as it is kind. As trusting as it is supportive. After 15 years (!) in business, there’s perhaps no better validation.</p>
				<div>
					<a class="button" href="https://adage.com/Reprint-AA25003Sylvain">
						<div>
							<p>Read more</p>
						</div>
					</a>
				</div>
			</aside>
		</section>
		<menu>
			<li>
				<a href="https://mailchi.mp/sylvain/progress-report-the-state-of-wellbeing">
					<picture style="--aspect-ratio--small:4 / 3;--aspect-ratio:16 / 9">
						<source media="(max-width: 767px)" sizes="50vw" srcset="/updates/2022-04-28-progress-report-newsletter-068-discusses-skeptics-and-how-we-might-take-advantage-of-their-critiques-and-insights/progress-report.gif">
						<img src="2022-04-28-progress-report-newsletter-068-discusses-skeptics-and-how-we-might-take-advantage-of-their-critiques-and-insights/progress-report.gif">
					</picture>
					<div>
						<p>01.30.2025</p>
					</div>
					<div>
						<h3>Progress Report Newsletter 126: Are We Unwell?</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://www.thisisnonsense.com/episodes/295">
					<picture style="--aspect-ratio--small:4 / 3;--aspect-ratio:16 / 9">
						<source media="(max-width: 767px)" sizes="50vw" srcset="/updates/2024-06-11-critical-nonsense-episode-266-jess-and-joey-discuss-aging-well/critical-nonsense.gif">
						<img src="2024-06-11-critical-nonsense-episode-266-jess-and-joey-discuss-aging-well/critical-nonsense.gif">
					</picture>
					<div>
						<p>01.29.2025</p>
					</div>
					<div>
						<h3>Critical Nonsense Episode 295: Hybrid Work 2.0</h3>
					</div>
				</a>
			</li>
		</menu>
	</section>
	<section class="filter" id="filter">
		<header>
			<h2>All updates</h2>
			<div>
				<menu>
					<li class="current">
						<a href="../updates.1#filter">
							<h2>All</h2>
						</a>
					</li>
					<li>
						<a href="people/index.html#filter">
							<h2>People</h2>
						</a>
					</li>
					<li>
						<a href="speaking/index.html#filter">
							<h2>Speaking</h2>
						</a>
					</li>
					<li>
						<a href="thinking/index.html#filter">
							<h2>Thinking</h2>
						</a>
					</li>
					<li>
						<a href="work/index.html#filter">
							<h2>Work</h2>
						</a>
					</li>
				</menu>
			</div>
		</header>
		<menu>
			<li>
				<a href="../careers.1">
					<div>
						<p>01.21.2025</p>
					</div>
					<div>
						<h3>S﻿YLVAIN summer internship applications launch</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://www.thisisnonsense.com/episodes/294">
					<div>
						<p>01.21.2025</p>
					</div>
					<div>
						<h3>Critical Nonsense Episode 294: Friend Breakups</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/feed/update/urn:li:activity:7274837147579301890">
					<div>
						<p>12.31.2024</p>
					</div>
					<div>
						<h3>S﻿YLVAIN shares our top books of 2024</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://www.thisisnonsense.com/episodes/293">
					<div>
						<p>12.31.2024</p>
					</div>
					<div>
						<h3>Critical Nonsense Episode 293: 2024 Wild Prognostications Review</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://mailchi.mp/sylvain/progress-report-the-gift-of-culture">
					<div>
						<p>12.20.2024</p>
					</div>
					<div>
						<h3>Progress Report Newsletter 125: The Gift of Culture</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/posts/sylvain-co_fitness-queen-jane-fonda-returns-to-promote-activity-7275545598387183616-0JU_?utm_source=share&utm_medium=member_desktop">
					<div>
						<p>12.19.2024</p>
					</div>
					<div>
						<h3>S﻿YLVAIN&rsquo;s work with Meta&rsquo;s Supernatural team comes to life in their latest campaign, featuring icon Jane Fonda</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://www.creativeboom.com/features/discourse-or-diss-course-cancelling-criticism-culture/">
					<div>
						<p>12.18.2024</p>
					</div>
					<div>
						<h3>J﻿oey Camire is quoted in <em>Creative Boom</em>&rsquo;s latest piece on criticism culture</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://www.thisisnonsense.com/episodes/292">
					<div>
						<p>12.16.2024</p>
					</div>
					<div>
						<h3>Critical Nonsense Episode 292: Sci-Fi</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/feed/update/urn:li:activity:7267226278020222976">
					<div>
						<p>11.26.2024</p>
					</div>
					<div>
						<h3>S﻿YLVAIN&rsquo;s Critical Nonsense podcast reaches 100k listens</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://youtu.be/JvrTV2KDW6s?si=5rFa_5BNohw9rdeA">
					<div>
						<p>11.22.2024</p>
					</div>
					<div>
						<h3>S﻿trategy Partner Aaron Powers joins the Impact Comms Institute&rsquo;s 2025 predictions webinar</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://mailchi.mp/sylvain/progress-report-marques-takes-over">
					<div>
						<p>11.22.2024</p>
					</div>
					<div>
						<h3>Progress Report Newsletter 124: Marques Takes Over</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://www.adweek.com/brand-marketing/marketing-vanguard-hinge-strategy-gen-z-jackie-jantos/">
					<div>
						<p>10.09.2024</p>
					</div>
					<div>
						<h3>S﻿YLVAIN&rsquo;s work for Hinge is highlighted on <em>Ad Week</em>&rsquo;s Marketing Vanguard podcast</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://www.underconsideration.com/brandnew/archives/new_logo_and_identity_for_civic_news_company_by_sylvain.php">
					<div>
						<p>09.19.2024</p>
					</div>
					<div>
						<h3>S﻿YLVAIN&rsquo;s work for Civic News Company is reviewed in <em>Brand New</em></h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://www.instagram.com/p/DAWOdR-RcKI/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==">
					<div>
						<p>08.20.2024</p>
					</div>
					<div>
						<h3>S﻿YLVAIN&rsquo;s design team takes a field trip to riso studio, TXTbooks</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://www.nickwestergaard.com/designing-the-wnba-brand-with-michael-ian-kaye/">
					<div>
						<p>08.12.2024</p>
					</div>
					<div>
						<h3>CDO Michael Ian Kaye is featured on the OnBrand podcast</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://www.instagram.com/p/C9z4Fljxfp1/">
					<div>
						<p>08.01.2024</p>
					</div>
					<div>
						<h3>The Alain Sylvain Creative Fund launches, in collaboration with PopTech and Ghost Note</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://www.instagram.com/p/C9iAtmhRF73/?img_index=1">
					<div>
						<p>06.27.2024</p>
					</div>
					<div>
						<h3>Chief Design Officer Michael Ian Kaye speaks at Adobe Make It NYC</h3>
					</div>
				</a>
			</li>
			<li>
				<div>
					<p>06.20.2024</p>
				</div>
				<div>
					<h3>CSO Chris Konya speaks at The Next Web Conference in Amsterdam</h3>
				</div>
			</li>
			<li>
				<a href="https://youtu.be/aNUuxExyZgQ?si=eb2IXQnu9BWo8iTO">
					<div>
						<p>06.19.2024</p>
					</div>
					<div>
						<h3>CSO Joey Camire speaks at Collision Conference in Toronto</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://www.printmag.com/what-matters/what-matters-to-michael-ian-kaye/">
					<div>
						<p>06.18.2024</p>
					</div>
					<div>
						<h3><em>Print Mag</em> publishes &ldquo;What Matters&rdquo; to CDO Michael Ian Kaye</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://adage.com/article/digital-marketing-ad-tech-news/how-ai-can-be-embraced-rather-feared-creatives/2562641">
					<div>
						<p>05.31.2024</p>
					</div>
					<div>
						<h3><em>Ad Age</em> publishes Aaron Powers' thoughts on embracing AI as a creative person</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/feed/update/urn:li:activity:7191802314922287104">
					<div>
						<p>05.01.2024</p>
					</div>
					<div>
						<h3>S﻿YLVAIN shares early-career brand strategy advice</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/feed/update/urn:li:activity:7188978432377032707">
					<div>
						<p>04.22.2024</p>
					</div>
					<div>
						<h3>S﻿YLVAIN is a finalist in the ADC Annual Awards</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="https://youtu.be/J8y8G2FkPhg?si=Z88CMdQ_3rhKRe0r">
					<div>
						<p>04.18.2024</p>
					</div>
					<div>
						<h3>J﻿oey Camire speaks at Web Summit Rio 2024</h3>
					</div>
				</a>
			</li>
		</menu>
	</section>
</div>
{% endblock %}