
{% extends "base.html" %}

{% block title %}privacy{% endblock %}

{% block body_class %}work nav--pre{% endblock %}

{% block extra_css %}
	<link href="../static/styles/work.css" rel="stylesheet">
{% endblock %}

{% block content %}

<style>
	.event-item {
		display: block; /* Default display */
	}
</style>

<header>
	<h1>Events</h1>
	<menu>
		<li class="current">
			<a href="javascript:void(0)" onclick="filterEvents('all')">
				<h2>All</h2>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" onclick="filterEvents('ongoing')">
				<h2>Ongoing</h2>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" onclick="filterEvents('past')">
				<h2>Completed</h2>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" onclick="filterEvents('upcoming')">
				<h2>Upcoming</h2>
			</a>
		</li>
	</menu>
</header>
<section>
	<menu>
	{% for event in event %}
		{% if event.showCase %}
			<li class="featured">
				<a href="{% url 'single_work' event.slug %}">
					<figure style="--aspect-ratio:16 / 9">
						<picture>
							<source media="(max-width: 767px)" sizes="90vw" srcset="{{event.header_image.url}}">
							<img src="{{event.header_image.url}}">
						</picture>
					</figure>
					<div>
						<h3 class="title-summary-title">{{event.title}} <br> {{event.date}}</h3>
					</div>
					<blockquote class="title-summary-body">
						<p>{{event.description}}</p>
					</blockquote>
				</a>
			</li>
		{% endif %}
	{% endfor %}
	{% for event in event %}
		{% if not event.showCase %}
			<li class="event-item {% if event.status == 'ongoing' %}ongoing{% elif event.status == 'completed' %}past{% else %}upcoming{% endif %}">
				<a href="{% url 'single_work' event.slug %}">
					<figure style="--aspect-ratio:16 / 9">
						<picture>
							<source media="(max-width: 767px)" sizes="90vw" srcset="{{event.header_image.url}}">
							<img src="{{event.header_image.url}}">
						</picture>
					</figure>
					<div>
						<h3 class="title-summary-title">{{event.title}}</h3>
					</div>
					<blockquote class="title-summary-body">
						<p>{{event.description}}</p>
					</blockquote>
				</a>
			</li>
		{% endif %}
	{% endfor %}
	</menu>
	<br/><br/>
</section>
<script>
	function filterEvents(status) {
		// Remove current class from all menu items
		document.querySelectorAll('menu li').forEach(item => {
			item.classList.remove('current');
		});
		
		// Add current class to clicked menu item
		event.target.closest('li').classList.add('current');
		
		// Show/hide events
		document.querySelectorAll('.event-item').forEach(event => {
			if (status === 'all') {
				event.style.display = 'block';
			} else {
				event.style.display = event.classList.contains(status) ? 'block' : 'none';
			}
		});
	}
</script>
{% endblock %}