.splide__pagination,
body.home > main > section.contact > div > address > menu > li > a > div > p,
body.home > main > section.contact > div > aside > ul > li > a > div > p,
body.home > main > section.updates > div > section.updates > menu > li p,
body.home > main > section.updates > div > section.promo > a > div > h3,
body.home > main > section.contact > div > address > menu > li > a > h3,
body.home > main > section.work > menu > li blockquote > p,
.home-page-carousel-item-body,
body.home > main > section.work > h2,
body.home > main > section.updates header > h2,
body.home > main > section.contact > div h2,
body.home > main > section.contact > div > aside > p,
body.home > main > section.updates > div > section.updates > menu > li,
body.home > main > section.work > menu > li h3,
body.home > main > section.contact > div > aside > ul > li > a {
	--typography--shoulder: calc(1 - var(--typography--cap-height));
	--typography--shoulder--top: calc(var(--typography--shoulder) - var(--typography--shoulder--bottom));
}

body.home > main > section.work > h2,
body.home > main > section.updates header > h2,
body.home > main > section.contact > div h2,
body.home > main > section.contact > div > aside > p,
body.home > main > section.updates > div > section.updates > menu > li,
body.home > main > section.work > menu > li h3,
body.home > main > section.contact > div > aside > ul > li > a {
	--typography--cap-height: 0.714;
	--typography--x-height: 0.517;
	--typography--shoulder--bottom: 0.286;
	--typography--shoulder--input: 0.100;
	font-family: "LT Helvetica Neue", sans-serif;
}

body.home > main > section.updates > div > section.promo > a > div > h3,
body.home > main > section.contact > div > address > menu > li > a > h3,
body.home > main > section.work > menu > li blockquote > p,
.home-page-carousel-item-body {
	--typography--cap-height: 0.680;
	--typography--x-height: 0.474;
	--typography--shoulder--bottom: 0.174;
	font-family: "GT Alpina", serif;
}

.splide__pagination,
body.home > main > section.contact > div > address > menu > li > a > div > p,
body.home > main > section.contact > div > aside > ul > li > a > div > p,
body.home > main > section.updates > div > section.updates > menu > li p {
	--typography--cap-height: 0.659;
	--typography--x-height: 0.529;
	--typography--shoulder--bottom: 0.234;
	font-family: "SM Cousine", monospace;
}

body.home > main > section.contact > div > aside > ul > li > a {
	--typography--weight: 300;
	--typography--inset--left: -0.070;
	--typography--inset--right: -0.060;
	--typography--underline: 0.053;
	--typography--underline--shift: -0.058;
	--typography--underline--skip: 0.063;
}

body.home > main > section.contact > div > aside > p,
body.home > main > section.updates > div > section.updates > menu > li,
body.home > main > section.work > menu > li h3 {
	--typography--weight: 400;
	--typography--inset--left: -0.080;
	--typography--inset--right: -0.064;
	--typography--underline: 0.075;
	--typography--underline--shift: -0.010;
	--typography--underline--skip: 0.085;
}

body.home > main > section.work > h2,
body.home > main > section.updates header > h2,
body.home > main > section.contact > div h2 {
	--typography--weight: 700;
	--typography--inset--left: -0.069;
	--typography--inset--right: -0.058;
	--typography--underline: 0.090;
	--typography--underline--shift: 0.043;
	--typography--underline--skip: 0.112;
}

body.home > main > section.updates > div > section.promo > a > div > h3,
body.home > main > section.contact > div > address > menu > li > a > h3,
body.home > main > section.work > menu > li blockquote > p,
.home-page-carousel-item-body {
	--typography--weight: 200;
	--typography--inset--left: -0.035;
	--typography--inset--right: -0.030;
	--typography--underline: 0.023;
	--typography--underline--shift: -0.148;
	--typography--underline--skip: 0.050;
}

.splide__pagination,
body.home > main > section.contact > div > address > menu > li > a > div > p,
body.home > main > section.contact > div > aside > ul > li > a > div > p,
body.home > main > section.updates > div > section.updates > menu > li p {
	--typography--weight: 400;
	--typography--inset--left: -0.063;
	--typography--inset--right: -0.051;
	--typography--underline: 0.067;
	--typography--underline--shift: -0.040;
	--typography--underline--skip: 0.088;
}

body.home > main > section.work > menu > li h3 {
	--typography--leading: 1.1;
}

body.home > main > section.updates > div > section.promo > a > div > h3,
body.home > main > section.work > menu > li blockquote > p,
.home-page-carousel-item-body {
	--typography--leading: 1.2;
}

body.home > main > section.contact > div > aside > p,
body.home > main > section.updates > div > section.updates > menu > li {
	--typography--leading: 1.35;
}

body.home > main > section.updates > div > section.promo > a > div > h3,
body.home > main > section.contact > div > address > menu > li > a > h3,
body.home > main > section.work > menu > li blockquote > p,
.home-page-carousel-item-body {
	letter-spacing: -0.01em;
}

body.home > main > section.contact > div > address > menu > li > a > div > p,
body.home > main > section.contact > div > aside > ul > li > a > div > p,
body.home > main > section.updates > div > section.updates > menu > li p,
body.home > main > section.work > h2,
body.home > main > section.updates header > h2,
body.home > main > section.contact > div h2 {
	letter-spacing: 0.04em;
}

body.home > main > section.contact > div > aside > ul > li > a,
body.home > main > section.updates > div > section.updates > menu > li div:not(:last-child) {
	--typography--font-size: calc(var(--typography--scale, 1) * var(--typography--size--override, var(--typography--size)));
	--typography--line-height: calc(var(--typography--leading) * var(--typography--size--override, var(--typography--size)));
	--typography--cap: calc(var(--typography--cap-height) * 1em);
	--typography--between: calc(var(--typography--font-size) * (var(--typography--leading) + var(--typography--shoulder) - 1));
	line-height: var(--typography--line-height);
	font-size: var(--typography--font-size);
}

body.home > main > section.work > menu > li blockquote > p,
.home-page-carousel-item-body {
	--typography--extra-lines: 1;
}

body.home > main > section.updates > div > section.promo > a > div > h3,
body.home > main > section.contact > div > address > menu > li > a > div > p,
.homepage-carousel-link:hover .home-page-carousel-item-body,
body.home > main > section.work > menu > li > a > blockquote > p,
body.home > main > section.updates > div > section.updates > menu > li div:last-child > h3 {
	text-decoration-color: var(--color);
	text-decoration-line: underline;
	text-decoration-skip-ink: none;
	text-decoration-thickness: var(--typography--decoration-thickness);
	text-underline-offset: calc(-1 * var(--typography--underline-offset) + var(--typography--decoration-thickness) + var(--typography--underline-offset--extra, 0em));
	text-shadow: var(--color--background) var(--typography--text-shadow) 0, var(--color--background) var(--typography--text-shadow) calc(var(--typography--text-shadow) / 3), var(--color--background) 0 calc(var(--typography--text-shadow) / 3), var(--color--background) calc(-1 * var(--typography--text-shadow)) calc(var(--typography--text-shadow) / 3), var(--color--background) calc(-1 * var(--typography--text-shadow)) 0, var(--color--background) calc(-1 * var(--typography--text-shadow)) calc(-1 * var(--typography--text-shadow) / 3), var(--color--background) 0 calc(-1 * var(--typography--text-shadow) / 3), var(--color--background) var(--typography--text-shadow) calc(-1 * var(--typography--text-shadow) / 3);
}

@-moz-document url-prefix() {

	body.home > main > section.updates > div > section.promo > a > div > h3,
	body.home > main > section.contact > div > address > menu > li > a > div > p,
	.homepage-carousel-link:hover .home-page-carousel-item-body,
	body.home > main > section.work > menu > li > a > blockquote > p,
	body.home > main > section.updates > div > section.updates > menu > li div:last-child > h3 {
		--typography--underline-offset--extra: calc(var(--typography--decoration-thickness) / 2);
	}
}

@supports (-webkit-hyphens: none) {

	body.home > main > section.updates > div > section.promo > a > div > h3,
	body.home > main > section.contact > div > address > menu > li > a > div > p,
	.homepage-carousel-link:hover .home-page-carousel-item-body,
	body.home > main > section.work > menu > li > a > blockquote > p,
	body.home > main > section.updates > div > section.updates > menu > li div:last-child > h3 {
		--typography--underline-offset--extra: calc(var(--typography--decoration-thickness) / 2);
	}
}

body.home > main > section.work > h2,
body.home > main > section.updates header > h2,
body.home > main > section.contact > div h2 {
	--typography--size: 1.2rem;
	color: var(--color--yellow);
	text-transform: uppercase;
	white-space: nowrap;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {

	body.home > main > section.work > h2,
	body.home > main > section.updates header > h2,
	body.home > main > section.contact > div h2 {
		--typography--size: 1.4rem;
	}
}

.home-page-carousel-item-body {
	--typography--size: 3.2rem;
	max-width: 28ch;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	.home-page-carousel-item-body {
		--typography--size: 4.8rem;
	}
}

body.home > main > section.contact > div > address > menu > li > a > div > p,
body.home > main > section.contact > div > aside > ul > li > a > div > p,
body.home > main > section.updates > div > section.updates > menu > li p {
	--typography--size: 1.2rem;
	text-transform: uppercase;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {

	body.home > main > section.contact > div > address > menu > li > a > div > p,
	body.home > main > section.contact > div > aside > ul > li > a > div > p,
	body.home > main > section.updates > div > section.updates > menu > li p {
		--typography--size: 1.3rem;
	}
}

body.home > main > section.work > menu > li h3 {
	--typography--size: 1.6rem;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.home > main > section.work > menu > li h3 {
		--typography--size: 1.8rem;
	}
}

body.home > main > section.work > menu > li blockquote > p {
	--typography--size: 1.8rem;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.home > main > section.work > menu > li blockquote > p {
		--typography--size: 2rem;
	}
}

@media (min-width: 35.5em) {
	body.home > main > section.work > menu > li.featured h3 {
		--typography--size: 2rem;
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.home > main > section.work > menu > li.featured h3 {
		--typography--size: 2.4rem;
	}
}

@media (min-width: 35.5em) {
	body.home > main > section.work > menu > li.featured blockquote > p {
		--typography--size: 2.2rem;
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.home > main > section.work > menu > li.featured blockquote > p {
		--typography--size: 2.6rem;
	}
}

body.home > main > section.updates > div > section.updates > menu > li {
	--typography--size: 1.6rem;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.home > main > section.updates > div > section.updates > menu > li {
		--typography--size: 1.8rem;
	}
}

.focus body.home > main > section.updates > div > section.promo > a:not(:disabled):focus,
.focus body.home > main > section.contact > div > address > menu > li > a:not(:disabled):focus,
.focus body.home > main > section.contact > div > aside > ul > li > a:not(:disabled):focus,
.focus body.home > main > section.work > menu > li > a:not(:disabled):focus,
.focus body.home > main > section.updates > div > section.updates > menu > li > a:not(:disabled):focus {
	outline-color: var(--link--outline);
	outline-style: solid;
	outline-width: var(--link--outline--width);
}

body.home > main > section.updates > div > section.promo > a,
body.home > main > section.contact > div > address > menu > li > a,
body.home > main > section.contact > div > aside > ul > li > a,
body.home > main > section.work > menu > li > a,
body.home > main > section.updates > div > section.updates > menu > li > a {
	-webkit-tap-highlight-color: var(--link--highlight);
	cursor: pointer;
	transition-duration: 50ms, var(--hover--duration);
	transition-property: background-color, text-decoration-color;
}

body.home > main > section.updates > div > section.promo > a:active,
body.home > main > section.contact > div > address > menu > li > a:active,
body.home > main > section.contact > div > aside > ul > li > a:active,
body.home > main > section.work > menu > li > a:active,
body.home > main > section.updates > div > section.updates > menu > li > a:active {
	border-radius: calc(var(--link--enlargement) / 3);
}

body.home > main > section.updates > div > section.promo > a:active h1,
body.home > main > section.contact > div > address > menu > li > a:active h1,
body.home > main > section.contact > div > aside > ul > li > a:active h1,
body.home > main > section.work > menu > li > a:active h1,
body.home > main > section.updates > div > section.updates > menu > li > a:active h1,
body.home > main > section.updates > div > section.promo > a:active h2,
body.home > main > section.contact > div > address > menu > li > a:active h2,
body.home > main > section.contact > div > aside > ul > li > a:active h2,
body.home > main > section.work > menu > li > a:active h2,
body.home > main > section.updates > div > section.updates > menu > li > a:active h2,
body.home > main > section.updates > div > section.promo > a:active h3,
body.home > main > section.contact > div > address > menu > li > a:active h3,
body.home > main > section.contact > div > aside > ul > li > a:active h3,
body.home > main > section.work > menu > li > a:active h3,
body.home > main > section.updates > div > section.updates > menu > li > a:active h3,
body.home > main > section.updates > div > section.promo > a:active h4,
body.home > main > section.contact > div > address > menu > li > a:active h4,
body.home > main > section.contact > div > aside > ul > li > a:active h4,
body.home > main > section.work > menu > li > a:active h4,
body.home > main > section.updates > div > section.updates > menu > li > a:active h4,
body.home > main > section.updates > div > section.promo > a:active h5,
body.home > main > section.contact > div > address > menu > li > a:active h5,
body.home > main > section.contact > div > aside > ul > li > a:active h5,
body.home > main > section.work > menu > li > a:active h5,
body.home > main > section.updates > div > section.updates > menu > li > a:active h5,
body.home > main > section.updates > div > section.promo > a:active h6,
body.home > main > section.contact > div > address > menu > li > a:active h6,
body.home > main > section.contact > div > aside > ul > li > a:active h6,
body.home > main > section.work > menu > li > a:active h6,
body.home > main > section.updates > div > section.updates > menu > li > a:active h6,
body.home > main > section.updates > div > section.promo > a:active p,
body.home > main > section.contact > div > address > menu > li > a:active p,
body.home > main > section.contact > div > aside > ul > li > a:active p,
body.home > main > section.work > menu > li > a:active p,
body.home > main > section.updates > div > section.updates > menu > li > a:active p {
	--color--background: transparent;
	transition-duration: 0s;
}

body.home > main > section.updates > div > section.promo > a:focus,
body.home > main > section.contact > div > address > menu > li > a:focus,
body.home > main > section.contact > div > aside > ul > li > a:focus,
body.home > main > section.work > menu > li > a:focus,
body.home > main > section.updates > div > section.updates > menu > li > a:focus {
	outline: none;
	z-index: 1;
}

body.home > main > section.updates > div > section.promo > a > div,
body.home > main > section.contact > div > address > menu > li > a > div,
body.home > main > section.work > menu > li > a > div,
body.home > main > section.work > menu > li > a > blockquote,
body.home > main > section.updates > div > section.promo > a > div > h3,
body.home > main > section.contact > div > address > menu > li > a > div > p,
.homepage-carousel-link:hover .home-page-carousel-item-body,
body.home > main > section.work > menu > li > a > blockquote > p,
body.home > main > section.updates > div > section.updates > menu > li div:last-child > h3,
body.home > main > section.updates > div > section.promo > a,
body.home > main > section.contact > div > address > menu > li > a,
body.home > main > section.contact > div > aside > ul > li > a,
body.home > main > section.work > menu > li > a,
body.home > main > section.updates > div > section.updates > menu > li > a {
	margin: calc(var(--link--enlargement) * -1);
	padding: var(--link--enlargement);
}

body.home > main > section.updates > div > section.promo > a,
body.home > main > section.contact > div > address > menu > li > a,
body.home > main > section.contact > div > aside > ul > li > a,
body.home > main > section.work > menu > li > a,
body.home > main > section.updates > div > section.updates > menu > li > a {
	display: flex;
	flex-direction: column;
	width: fit-content;
}

@media (any-hover: hover) {

	body.home > main > section.updates > div > section.promo > a,
	body.home > main > section.contact > div > address > menu > li > a,
	body.home > main > section.work > menu > li > a,
	body.home > main > section.updates > div > section.updates > menu > li > a {
		pointer-events: none;
	}

	body.home > main > section.updates > div > section.promo > a > *,
	body.home > main > section.contact > div > address > menu > li > a > *,
	body.home > main > section.work > menu > li > a > *,
	body.home > main > section.updates > div > section.updates > menu > li > a > * {
		pointer-events: auto;
	}
}

body.home > main > section.updates > div > section.promo > a > div > h3,
body.home > main > section.contact > div > address > menu > li > a > div > p,
.homepage-carousel-link:hover .home-page-carousel-item-body,
body.home > main > section.work > menu > li > a > blockquote > p,
body.home > main > section.updates > div > section.updates > menu > li div:last-child > h3 {
	--typography--decoration-thickness: var(--border--width);
	--typography--underline-offset: -0.1em;
	margin-left: calc(-1 * var(--link--enlargement) + var(--typography--margin--left, 0rem));
	margin-right: calc(-1 * var(--link--enlargement) + var(--typography--margin--right, 0rem));
	max-width: initial;
	text-decoration-color: transparent;
	transition-duration: var(--hover--duration);
}

@supports (-webkit-hyphens: none) {

	body.home > main > section.updates > div > section.promo > a > div > h3,
	body.home > main > section.contact > div > address > menu > li > a > div > p,
	.homepage-carousel-link:hover .home-page-carousel-item-body,
	body.home > main > section.work > menu > li > a > blockquote > p,
	body.home > main > section.updates > div > section.updates > menu > li div:last-child > h3 {
		--color--safari: #F8F7F7;
		text-decoration-color: var(--color--background);
	}
}

@media (any-hover: hover) {

	body.home > main > section.updates > div > section.promo > a:hover > div > h3,
	body.home > main > section.contact > div > address > menu > li > a:hover > div > p,
	.homepage-carousel-link:hover .home-page-carousel-item-body,
	body.home > main > section.work > menu > li > a:hover > blockquote > p,
	body.home > main > section.updates > div > section.updates > menu > li > a:hover > div > h3 {
		text-decoration-color: var(--color--hover);
	}

	@supports (-webkit-hyphens: none) {

		body.home > main > section.updates > div > section.promo > a:hover > div > h3,
		body.home > main > section.contact > div > address > menu > li > a:hover > div > p,
		.homepage-carousel-link:hover .home-page-carousel-item-body,
		body.home > main > section.work > menu > li > a:hover > blockquote > p,
		body.home > main > section.updates > div > section.updates > menu > li > a:hover > div > h3 {
			color: var(--color--safari);
		}
	}
}

html {
	scroll-behavior: smooth;
}

body.home > main > section.work > menu > li > a {
	align-items: start;
	column-gap: var(--margin);
	display: grid;
	grid-auto-rows: min-content;
	grid-template-areas: "image  image  image  image   image   image   image   image" "client client client summary summary summary summary summary";
	grid-auto-columns: minmax(0, 1fr);
	justify-items: start;
	width: initial;
}

@media (min-width: 35.5em) {
	body.home > main > section.work > menu > li > a {
		grid-template-areas: "image" "client" "summary";
	}
}

@media (min-width: 64em) {
	body.home > main > section.work > menu > li > a {
		grid-template-areas: "image  image  image  image   image   image   image   image" "client client client summary summary summary summary summary";
	}
}

@media (min-width: 87.5em) {
	body.home > main > section.work > menu > li > a {
		grid-template-areas: "image  image" "client summary";
	}
}

body.home > main > section.work > menu > li > a > figure {
	grid-area: image;
}

body.home > main > section.work > menu > li > a > div,
body.home > main > section.work > menu > li > a > blockquote {
	margin-top: initial;
	padding-top: var(--gutter);
}

body.home > main > section.work > menu > li > a > div {
	grid-area: client;
}

body.home > main > section.work > menu > li > a > div > h3 {
	transition-duration: var(--hover--duration);
}

body.home > main > section.work > menu > li > a > blockquote {
	grid-area: summary;
	margin-right: var(--gutter);
}

@media (max-width: 23.375em) {
	body.home > main > section.work > menu > li > a > blockquote {
		margin-right: initial;
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.home > main > section.work > menu > li > a > blockquote {
		margin-right: initial;
	}
}

@media (min-width: 64em) {
	body.home > main > section.work > menu > li > a > blockquote {
		margin-right: var(--margin);
	}
}

body.home > main > section.work > menu > li > a > blockquote > p {
	max-width: 28ch;
}

@media (any-hover: hover) {
	body.home > main > section.work > menu > li > a:hover > div > h3 {
		--color: var(--color--hover);
	}
}

@media (min-width: 35.5em) and (min-width: 35.5em) {
	body.home > main > section.work > menu > li.featured > a {
		grid-template-areas: "image  image" "client summary";
	}
}

body.home > main > section.updates > div > section.updates > menu > li {
	display: flex;
	flex-direction: column;
}

body.home > main > section.updates > div > section.updates > menu > li div:not(:last-child) {
	padding-bottom: var(--typography--cap);
	width: fit-content;
}

body.home > main > section.updates > div > section.updates > menu > li div:not(:last-child) > p {
	--color: var(--color--faded);
}

body.home > main > section.updates > div > section.updates > menu > li div:last-child {
	width: fit-content;
}

body.home > main > section.updates > div > section.updates > menu > li div:last-child > h3 {
	max-width: 38ch;
}

body.home > main > section.updates > div > section.updates > menu > li > div {
	--color: var(--color--faded);
}

.splide__arrow {
	height: 100%;
	width: 20%;
	border-radius: 0;
	opacity: 0 !important;
	top: 0;
	transform: none;
}

@media (pointer: coarse) {
	.splide__arrow {
		display: none;
	}
}

.splide__arrow--prev {
	left: 0;
}

.splide__arrow--prev:hover {
	cursor: url("data:image/svg+xml,%3Csvg width='61' height='64' viewBox='0 0 61 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.9985 31.9303L5.00294 31.9303' stroke='%23F15F3C' stroke-width='6.64867' stroke-miterlimit='10'/%3E%3Cpath d='M33.0858 60.8591L4.99999 31.9296L33.0858 3' stroke='%23F15F3C' stroke-width='6.64867' stroke-miterlimit='10'/%3E%3C/svg%3E%0A") 32 32, auto;
}

.splide__arrow--next {
	right: 0;
}

.splide__arrow--next:hover {
	cursor: url("data:image/svg+xml,%3Csvg width='61' height='64' viewBox='0 0 61 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.90735e-06 31.9289L55.9956 31.9289' stroke='%23F15F3C' stroke-width='6.64867' stroke-miterlimit='10'/%3E%3Cpath d='M27.9127 3L55.9986 31.9296L27.9127 60.8591' stroke='%23F15F3C' stroke-width='6.64867' stroke-miterlimit='10'/%3E%3C/svg%3E%0A") 32 32, auto;
}

.splide__pagination {
	left: auto;
	bottom: 0;
	background: var(--color--background);
	color: var(--color--faded);
	align-items: flex-start;
	padding-top: var(--gutter);
	padding-right: 0;
}

.splide__pagination__page {
	display: none;
	background: none;
	background-color: none;
	width: auto;
	margin: 0;
	margin-top: -1px;
	transform: none !important;
	height: 12px;
	font-size: 1.2rem;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	.splide__pagination__page {
		font-size: 1.3rem !important;
	}
}

.splide__pagination__page.is-active {
	display: inline-block;
	background: var(--color--background);
	background-color: var(--color--background);
	border-radius: 0;
	opacity: 1;
}

.video-poster {
	background: #21202333;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: opacity var(--cubic--in-out) 250ms;
}

.video-poster svg {
	transform: scale(0.5);
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	.video-poster svg {
		transform: scale(0.9);
	}
}

.video-poster:hover svg path {
	fill: var(--color--gray);
}

.video-poster.active {
	opacity: 0;
	pointer-events: none;
}

body.home > main > section.work {
	padding: var(--margin) var(--margin) var(--margin--5);
}

body.home > main > section.work > menu {
	margin-top: var(--margin);
}

body.home > main > section.updates {
	border-top: var(--border);
}

body.home > main > section.updates header {
	padding-left: var(--margin);
	padding-right: var(--margin);
	padding-top: var(--margin);
}

body.home > main > section.updates > div {
	column-gap: var(--gutter);
	display: grid;
	grid-auto-rows: min-content;
	grid-template-columns: minmax(0, 1fr);
	padding: var(--margin) var(--margin) var(--margin--5);
	row-gap: var(--margin--2);
}

@media (min-width: 64em) {
	body.home > main > section.updates > div {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (min-width: 78.75em) {
	body.home > main > section.updates > div {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

body.home > main > section.updates > div > section.promo {
	align-self: start;
}

body.home > main > section.updates > div > section.promo:only-child {
	grid-column: 1/-1;
}

@media (min-width: 64em) {
	body.home > main > section.updates > div > section.promo {
		padding-right: calc(var(--margin) - var(--gutter));
	}
}

@media (min-width: 78.75em) {
	body.home > main > section.updates > div > section.promo {
		grid-column: span 2;
	}
}

body.home > main > section.updates > div > section.promo > a > div {
	margin-top: initial;
	padding-top: var(--gutter);
	width: fit-content;
}

body.home > main > section.updates > div > section.promo > a > div > h3 {
	--typography--size: 1.8rem;
	max-width: 28ch;
}

@media (min-width: 35.5em) {
	body.home > main > section.updates > div > section.promo > a > div > h3 {
		--typography--size: 2.2rem;
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.home > main > section.updates > div > section.promo > a > div > h3 {
		--typography--size: 2.6rem;
	}
}

body.home > main > section.updates > div > section.updates > menu {
	display: flex;
	flex-direction: column;
	gap: var(--margin--2);
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.home > main > section.updates > div > section.updates > menu {
		gap: var(--margin--1-5);
	}
}

body.home > main > section.updates > div > section.updates > div {
	display: flex;
	margin-top: var(--margin--2);
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.home > main > section.updates > div > section.updates > div {
		margin-top: var(--margin--1-5);
	}
}

body.home > main > section.contact {
	border-top: var(--border);
}

body.home > main > section.contact > div {
	column-gap: var(--gutter);
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-rows: min-content;
	grid-template-areas: "contact" "careers";
	padding: var(--margin) var(--margin) var(--margin--5);
	row-gap: var(--margin--5);
}

@media (min-width: 64em) {
	body.home > main > section.contact > div {
		grid-template-areas: "contact careers";
	}
}

@media (min-width: 78.75em) {
	body.home > main > section.contact > div {
		grid-template-areas: "contact contact careers";
	}
}

body.home > main > section.contact > div h2 {
	margin-bottom: var(--margin--1-5);
}

body.home > main > section.contact > div > address {
	grid-area: contact;
}

body.home > main > section.contact > div > address > menu {
	display: flex;
	flex-direction: column;
	gap: var(--margin--2);
}

body.home > main > section.contact > div > address > menu > li > a {
	width: max-content;
}

@media (any-hover: hover) {
	body.home > main > section.contact > div > address > menu > li > a:hover > h3 {
		--color: var(--color--hover);
	}
}

body.home > main > section.contact > div > address > menu > li > a > h3 {
	--typography--size: 4rem;
	--typography--inset--left: -0.06;
	transition-duration: var(--hover--duration);
}

@media (max-width: 23.375em) {
	body.home > main > section.contact > div > address > menu > li > a > h3 {
		--typography--size: 3.6rem;
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.home > main > section.contact > div > address > menu > li > a > h3 {
		--typography--size: 5.2rem;
	}
}

@media (min-width: 64em) {
	body.home > main > section.contact > div > address > menu > li > a > h3 {
		--typography--size: 4.4rem;
	}
}

@media (min-width: 72em) {
	body.home > main > section.contact > div > address > menu > li > a > h3 {
		--typography--size: 5.2rem;
	}
}

@media (min-width: 78.75em) {
	body.home > main > section.contact > div > address > menu > li > a > h3 {
		--typography--size: 6.8rem;
	}
}

@media (min-width: 87.5em) {
	body.home > main > section.contact > div > address > menu > li > a > h3 {
		--typography--size: 7.8rem;
	}
}

body.home > main > section.contact > div > address > menu > li > a > div {
	padding-top: calc(var(--margin) + var(--link--enlargement));
	width: fit-content;
}

body.home > main > section.contact > div > address > menu > li > a > div > p {
	--typography--size: 1.4rem;
	padding-top: 0;
}

body.home > main > section.contact > div > aside {
	grid-area: careers;
	padding-right: var(--margin);
}

body.home > main > section.contact > div > aside > p {
	--typography--size: 1.6rem;
	max-width: 40ch;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.home > main > section.contact > div > aside > p {
		--typography--size: 1.8rem;
	}
}

body.home > main > section.contact > div > aside > ul {
	display: flex;
	flex-direction: column;
	gap: var(--margin--2);
	margin-top: var(--margin--2);
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.home > main > section.contact > div > aside > ul {
		gap: var(--margin--1-5);
		margin-top: var(--margin--1-5);
	}
}

body.home > main > section.contact > div > aside > ul > li > a {
	--typography--size: 1.8rem;
	pointer-events: none;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.home > main > section.contact > div > aside > ul > li > a {
		--typography--size: 2.4rem;
	}
}

body.home > main > section.contact > div > aside > ul > li > a > div {
	margin-top: var(--typography--cap);
}

body.home > main > section.contact > div > aside > ul > li > a > div > p {
	--color: var(--color--faded);
}

body.home > main > section.contact > div > aside > div {
	display: flex;
	margin-top: var(--margin--2);
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.home > main > section.contact > div > aside > div {
		margin-top: var(--margin--1-5);
	}
}

body.home > main h2 {
	color: var(--color) !important;
}

body.home .splide__track {
	overflow: visible;
}

.home-page-carousel {
	margin-top: var(--margin);
}

.home-page-carousel-content {
	width: calc(100% - 80px);
	margin-top: var(--gutter);
	display: grid;
	grid-template-columns: 4fr 7fr;
}

.home-page-carousel-item-title {
	--typography--size: 1.6rem;
}

@media (min-width: 35.5em) {
	.home-page-carousel-item-title {
		--typography--size: 2.0rem;
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	.home-page-carousel-item-title {
		--typography--size: 2.4rem;
	}
}

.home-page-carousel-item-body {
	--typography--size: 1.8rem;
	margin: 0;
	padding-bottom: 1rem;
}

@media (min-width: 35.5em) {
	.home-page-carousel-item-body {
		--typography--size: 2.2rem;
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	.home-page-carousel-item-body {
		--typography--size: 2.4rem;
	}
}

.homepage-carousel-link:hover .home-page-carousel-item-title {
	--color: var(--color--hover);
}

.homepage-carousel-link:hover .home-page-carousel-item-body {
	margin-left: 0;
	padding-left: 0;
	padding-bottom: 18px;
	max-width: 28ch;
}

hr {
	border: solid;
	height: 1px;
	background-color: #1E3A8A;
	margin: 20px 0; 
}