.expand-button::after,
.splide__pagination,
body.updates > main > div > section.featured > menu > li > a > div:not(:last-child) > p,
body.updates > main > div > section.filter > header > div > menu > li,
body.updates > main > div > section.filter > menu > li p,
body.updates > main > div > section.featured > section > header > h3,
body.updates > main > div > section.featured > menu > li > a > div:last-child > h3,
.expand-content p > strong,
body.updates > main > div > section.featured > header > h1,
body.updates > main > div > section.filter > header > h2,
body.updates > main > div > section.featured > section > aside > p,
.expand-content p,
body.updates > main > div > section.filter > menu > li {
	--typography--shoulder: calc(1 - var(--typography--cap-height));
	--typography--shoulder--top: calc(var(--typography--shoulder) - var(--typography--shoulder--bottom));
}

.expand-content p > strong,
body.updates > main > div > section.featured > header > h1,
body.updates > main > div > section.filter > header > h2,
body.updates > main > div > section.featured > section > aside > p,
.expand-content p,
body.updates > main > div > section.filter > menu > li {
	--typography--cap-height: 0.714;
	--typography--x-height: 0.517;
	--typography--shoulder--bottom: 0.286;
	--typography--shoulder--input: 0.100;
	font-family: "LT Helvetica Neue", sans-serif;
}

body.updates > main > div > section.featured > section > header > h3,
body.updates > main > div > section.featured > menu > li > a > div:last-child > h3 {
	--typography--cap-height: 0.680;
	--typography--x-height: 0.474;
	--typography--shoulder--bottom: 0.174;
	font-family: "GT Alpina", serif;
}

.expand-button::after,
.splide__pagination,
body.updates > main > div > section.featured > menu > li > a > div:not(:last-child) > p,
body.updates > main > div > section.filter > header > div > menu > li,
body.updates > main > div > section.filter > menu > li p {
	--typography--cap-height: 0.659;
	--typography--x-height: 0.529;
	--typography--shoulder--bottom: 0.234;
	font-family: "SM Cousine", monospace;
}

body.updates > main > div > section.featured > section > aside > p,
.expand-content p,
body.updates > main > div > section.filter > menu > li {
	--typography--weight: 400;
	--typography--inset--left: -0.080;
	--typography--inset--right: -0.064;
	--typography--underline: 0.075;
	--typography--underline--shift: -0.010;
	--typography--underline--skip: 0.085;
}

.expand-content p > strong,
body.updates > main > div > section.featured > header > h1,
body.updates > main > div > section.filter > header > h2 {
	--typography--weight: 700;
	--typography--inset--left: -0.069;
	--typography--inset--right: -0.058;
	--typography--underline: 0.090;
	--typography--underline--shift: 0.043;
	--typography--underline--skip: 0.112;
}

body.updates > main > div > section.featured > section > header > h3,
body.updates > main > div > section.featured > menu > li > a > div:last-child > h3 {
	--typography--weight: 200;
	--typography--inset--left: -0.035;
	--typography--inset--right: -0.030;
	--typography--underline: 0.023;
	--typography--underline--shift: -0.148;
	--typography--underline--skip: 0.050;
}

.expand-button::after,
.splide__pagination,
body.updates > main > div > section.featured > menu > li > a > div:not(:last-child) > p,
body.updates > main > div > section.filter > header > div > menu > li,
body.updates > main > div > section.filter > menu > li p {
	--typography--weight: 400;
	--typography--inset--left: -0.063;
	--typography--inset--right: -0.051;
	--typography--underline: 0.067;
	--typography--underline--shift: -0.040;
	--typography--underline--skip: 0.088;
}

body.updates > main > div > section.featured > section > header > h3,
body.updates > main > div > section.featured > menu > li > a > div:last-child > h3 {
	--typography--leading: 1.2;
}

body.updates > main > div > section.featured > section > aside > p,
.expand-content p,
body.updates > main > div > section.filter > menu > li {
	--typography--leading: 1.35;
}

body.updates > main > div > section.featured > section > header > h3,
body.updates > main > div > section.featured > menu > li > a > div:last-child > h3 {
	letter-spacing: -0.01em;
}

body.updates > main > div > section.featured > menu > li > a > div:not(:last-child) > p,
body.updates > main > div > section.filter > header > div > menu > li,
body.updates > main > div > section.filter > menu > li p,
body.updates > main > div > section.featured > header > h1,
body.updates > main > div > section.filter > header > h2 {
	letter-spacing: 0.04em;
}

body.updates > main > div > section.featured > menu > li div:not(:last-child),
body.updates > main > div > section.filter > menu > li div:not(:last-child),
body.updates > main > div > section.filter > header > div > menu > li {
	--typography--font-size: calc(var(--typography--scale, 1) * var(--typography--size--override, var(--typography--size)));
	--typography--line-height: calc(var(--typography--leading) * var(--typography--size--override, var(--typography--size)));
	--typography--cap: calc(var(--typography--cap-height) * 1em);
	--typography--between: calc(var(--typography--font-size) * (var(--typography--leading) + var(--typography--shoulder) - 1));
	line-height: var(--typography--line-height);
	font-size: var(--typography--font-size);
}

body.updates > main > div > section.featured > section > aside > p,
.expand-content p {
	--typography--extra-lines: 1;
}

body.updates > main > div > section.filter > header > div > menu > li > a > h2,
body.updates > main > div > section.featured > menu > li div:last-child > h3,
body.updates > main > div > section.filter > menu > li div:last-child > h3 {
	text-decoration-color: var(--color);
	text-decoration-line: underline;
	text-decoration-skip-ink: none;
	text-decoration-thickness: var(--typography--decoration-thickness);
	text-underline-offset: calc(-1 * var(--typography--underline-offset) + var(--typography--decoration-thickness) + var(--typography--underline-offset--extra, 0em));
	text-shadow: var(--color--background) var(--typography--text-shadow) 0, var(--color--background) var(--typography--text-shadow) calc(var(--typography--text-shadow) / 3), var(--color--background) 0 calc(var(--typography--text-shadow) / 3), var(--color--background) calc(-1 * var(--typography--text-shadow)) calc(var(--typography--text-shadow) / 3), var(--color--background) calc(-1 * var(--typography--text-shadow)) 0, var(--color--background) calc(-1 * var(--typography--text-shadow)) calc(-1 * var(--typography--text-shadow) / 3), var(--color--background) 0 calc(-1 * var(--typography--text-shadow) / 3), var(--color--background) var(--typography--text-shadow) calc(-1 * var(--typography--text-shadow) / 3);
}

@-moz-document url-prefix() {

	body.updates > main > div > section.filter > header > div > menu > li > a > h2,
	body.updates > main > div > section.featured > menu > li div:last-child > h3,
	body.updates > main > div > section.filter > menu > li div:last-child > h3 {
		--typography--underline-offset--extra: calc(var(--typography--decoration-thickness) / 2);
	}
}

@supports (-webkit-hyphens: none) {

	body.updates > main > div > section.filter > header > div > menu > li > a > h2,
	body.updates > main > div > section.featured > menu > li div:last-child > h3,
	body.updates > main > div > section.filter > menu > li div:last-child > h3 {
		--typography--underline-offset--extra: calc(var(--typography--decoration-thickness) / 2);
	}
}

body.updates > main > div > section.featured > header > h1,
body.updates > main > div > section.filter > header > h2 {
	--typography--size: 1.2rem;
	color: var(--color--yellow);
	text-transform: uppercase;
	white-space: nowrap;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {

	body.updates > main > div > section.featured > header > h1,
	body.updates > main > div > section.filter > header > h2 {
		--typography--size: 1.4rem;
	}
}

body.updates > main > div > section.featured > menu > li > a > div:not(:last-child) > p,
body.updates > main > div > section.filter > header > div > menu > li,
body.updates > main > div > section.filter > menu > li p {
	--typography--size: 1.2rem;
	text-transform: uppercase;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {

	body.updates > main > div > section.featured > menu > li > a > div:not(:last-child) > p,
	body.updates > main > div > section.filter > header > div > menu > li,
	body.updates > main > div > section.filter > menu > li p {
		--typography--size: 1.3rem;
	}
}

body.updates > main > div > section.filter > menu > li {
	--typography--size: 1.6rem;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.updates > main > div > section.filter > menu > li {
		--typography--size: 1.8rem;
	}
}

.focus body.updates > main > div > section.featured > menu > li > a:not(:disabled):focus,
.focus body.updates > main > div > section.filter > menu > li > a:not(:disabled):focus {
	outline-color: var(--link--outline);
	outline-style: solid;
	outline-width: var(--link--outline--width);
}

body.updates > main > div > section.featured > menu > li > a,
body.updates > main > div > section.filter > menu > li > a {
	-webkit-tap-highlight-color: var(--link--highlight);
	cursor: pointer;
	transition-duration: 50ms, var(--hover--duration);
	transition-property: background-color, text-decoration-color;
}

body.updates > main > div > section.featured > menu > li > a:active,
body.updates > main > div > section.filter > menu > li > a:active {
	border-radius: calc(var(--link--enlargement) / 3);
}

body.updates > main > div > section.featured > menu > li > a:active h1,
body.updates > main > div > section.filter > menu > li > a:active h1,
body.updates > main > div > section.featured > menu > li > a:active h2,
body.updates > main > div > section.filter > menu > li > a:active h2,
body.updates > main > div > section.featured > menu > li > a:active h3,
body.updates > main > div > section.filter > menu > li > a:active h3,
body.updates > main > div > section.featured > menu > li > a:active h4,
body.updates > main > div > section.filter > menu > li > a:active h4,
body.updates > main > div > section.featured > menu > li > a:active h5,
body.updates > main > div > section.filter > menu > li > a:active h5,
body.updates > main > div > section.featured > menu > li > a:active h6,
body.updates > main > div > section.filter > menu > li > a:active h6,
body.updates > main > div > section.featured > menu > li > a:active p,
body.updates > main > div > section.filter > menu > li > a:active p {
	--color--background: transparent;
	transition-duration: 0s;
}

body.updates > main > div > section.featured > menu > li > a:focus,
body.updates > main > div > section.filter > menu > li > a:focus {
	outline: none;
	z-index: 1;
}

body.updates > main > div > section.featured > menu > li div:last-child > h3,
body.updates > main > div > section.filter > menu > li div:last-child > h3,
body.updates > main > div > section.filter > header > div > menu > li > a > h2,
body.updates > main > div > section.featured > menu > li > a,
body.updates > main > div > section.filter > menu > li > a {
	margin: calc(var(--link--enlargement) * -1);
	padding: var(--link--enlargement);
}

body.updates > main > div > section.featured > menu > li > a,
body.updates > main > div > section.filter > menu > li > a {
	display: flex;
	flex-direction: column;
	width: fit-content;
}

@media (any-hover: hover) {

	body.updates > main > div > section.featured > menu > li > a,
	body.updates > main > div > section.filter > menu > li > a {
		pointer-events: none;
	}

	body.updates > main > div > section.featured > menu > li > a > *,
	body.updates > main > div > section.filter > menu > li > a > * {
		pointer-events: auto;
	}
}

body.updates > main > div > section.featured > menu > li div:last-child > h3,
body.updates > main > div > section.filter > menu > li div:last-child > h3,
body.updates > main > div > section.filter > header > div > menu > li > a > h2 {
	--typography--decoration-thickness: var(--border--width);
	--typography--underline-offset: -0.1em;
	margin-left: calc(-1 * var(--link--enlargement) + var(--typography--margin--left, 0rem));
	margin-right: calc(-1 * var(--link--enlargement) + var(--typography--margin--right, 0rem));
	max-width: initial;
	text-decoration-color: transparent;
	transition-duration: var(--hover--duration);
}

@supports (-webkit-hyphens: none) {

	body.updates > main > div > section.featured > menu > li div:last-child > h3,
	body.updates > main > div > section.filter > menu > li div:last-child > h3,
	body.updates > main > div > section.filter > header > div > menu > li > a > h2 {
		--color--safari: #F8F7F7;
		text-decoration-color: var(--color--background);
	}
}

@media (any-hover: hover) {

	body.updates > main > div > section.featured > menu > li > a:hover > div > h3,
	body.updates > main > div > section.filter > menu > li > a:hover > div > h3,
	body.updates > main > div > section.filter > header > div > menu > li > a > h2:hover {
		text-decoration-color: var(--color--hover);
	}

	@supports (-webkit-hyphens: none) {

		body.updates > main > div > section.featured > menu > li > a:hover > div > h3,
		body.updates > main > div > section.filter > menu > li > a:hover > div > h3,
		body.updates > main > div > section.filter > header > div > menu > li > a > h2:hover {
			color: var(--color--safari);
		}
	}
}

html {
	scroll-behavior: smooth;
}

body.updates > main > div > section.filter,
body.updates > main > div > section.filter > header > div {
	scrollbar-width: none;
}

body.updates > main > div > section.filter::-webkit-scrollbar,
body.updates > main > div > section.filter > header > div::-webkit-scrollbar {
	display: none;
}

body.updates > main > div > section.filter {
	-webkit-overflow-scrolling: none;
	overscroll-behavior: none;
}

body.updates > main > div > section.featured > menu > li > a > picture {
	--ratio: var(--aspect-ratio--small, var(--aspect-ratio, 16 / 9));
	display: flex;
	max-width: 100%;
	object-fit: cover;
	overflow: hidden;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.updates > main > div > section.featured > menu > li > a > picture {
		--ratio: var(--aspect-ratio, 16 / 9);
	}
}

body.updates > main > div > section.featured > menu > li > a > picture > img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
	body.updates > main > div > section.featured > menu > li > a > picture > img {
		will-change: transform;
	}
}

@supports (aspect-ratio: auto) {
	body.updates > main > div > section.featured > menu > li > a > picture {
		aspect-ratio: var(--ratio);
	}
}

@supports not (aspect-ratio: auto) {
	body.updates > main > div > section.featured > menu > li > a > picture {
		position: relative;
	}

	body.updates > main > div > section.featured > menu > li > a > picture:before {
		content: "";
		display: block;
		padding-top: calc(1 / (var(--ratio)) * 100%);
	}

	body.updates > main > div > section.featured > menu > li > a > picture > img {
		left: 0;
		position: absolute;
		top: 0;
	}
}

body.updates > main > div > section.featured > menu > li,
body.updates > main > div > section.filter > menu > li {
	display: flex;
	flex-direction: column;
}

body.updates > main > div > section.featured > menu > li div:not(:last-child),
body.updates > main > div > section.filter > menu > li div:not(:last-child) {
	padding-bottom: var(--typography--cap);
	width: fit-content;
}

body.updates > main > div > section.featured > menu > li div:not(:last-child) > p,
body.updates > main > div > section.filter > menu > li div:not(:last-child) > p {
	--color: var(--color--faded);
}

body.updates > main > div > section.featured > menu > li div:last-child,
body.updates > main > div > section.filter > menu > li div:last-child {
	width: fit-content;
}

body.updates > main > div > section.featured > menu > li div:last-child > h3,
body.updates > main > div > section.filter > menu > li div:last-child > h3 {
	max-width: 38ch;
}

body.updates > main > div > section.featured > menu > li > div,
body.updates > main > div > section.filter > menu > li > div {
	--color: var(--color--faded);
}

body.updates > main > div > section.filter > header > div > menu {
	display: flex;
	gap: var(--margin);
}

body.updates > main > div > section.filter > header > div > menu > li {
	--underline--offset: 0.25em;
	padding-bottom: var(--underline--offset);
}

body.updates > main > div > section.filter > header > div > menu > li > a > h2 {
	--color: var(--color--reset);
	--color--safari: #838283;
	--typography--underline-offset: calc(-1 * var(--underline--offset));
}

body.updates > main > div > section.filter > header > div > menu > li.current {
	pointer-events: none;
}

body.updates > main > div > section.filter > header > div > menu > li.current > a > h2 {
	--color: var(--color--reset);
	text-decoration-color: var(--color--hover);
}

.splide__arrow {
	height: 100%;
	width: 20%;
	border-radius: 0;
	opacity: 0 !important;
	top: 0;
	transform: none;
}

@media (pointer: coarse) {
	.splide__arrow {
		display: none;
	}
}

.splide__arrow--prev {
	left: 0;
}

.splide__arrow--prev:hover {
	cursor: url("data:image/svg+xml,%3Csvg width='61' height='64' viewBox='0 0 61 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.9985 31.9303L5.00294 31.9303' stroke='%23F15F3C' stroke-width='6.64867' stroke-miterlimit='10'/%3E%3Cpath d='M33.0858 60.8591L4.99999 31.9296L33.0858 3' stroke='%23F15F3C' stroke-width='6.64867' stroke-miterlimit='10'/%3E%3C/svg%3E%0A") 32 32, auto;
}

.splide__arrow--next {
	right: 0;
}

.splide__arrow--next:hover {
	cursor: url("data:image/svg+xml,%3Csvg width='61' height='64' viewBox='0 0 61 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.90735e-06 31.9289L55.9956 31.9289' stroke='%23F15F3C' stroke-width='6.64867' stroke-miterlimit='10'/%3E%3Cpath d='M27.9127 3L55.9986 31.9296L27.9127 60.8591' stroke='%23F15F3C' stroke-width='6.64867' stroke-miterlimit='10'/%3E%3C/svg%3E%0A") 32 32, auto;
}

.splide__pagination {
	left: auto;
	bottom: 0;
	background: var(--color--background);
	color: var(--color--faded);
	align-items: flex-start;
	padding-top: var(--gutter);
	padding-right: 0;
}

.splide__pagination__page {
	display: none;
	background: none;
	background-color: none;
	width: auto;
	margin: 0;
	margin-top: -1px;
	transform: none !important;
	height: 12px;
	font-size: 1.2rem;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	.splide__pagination__page {
		font-size: 1.3rem !important;
	}
}

.splide__pagination__page.is-active {
	display: inline-block;
	background: var(--color--background);
	background-color: var(--color--background);
	border-radius: 0;
	opacity: 1;
}

.video-poster {
	background: #21202333;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: opacity var(--cubic--in-out) 250ms;
}

.video-poster svg {
	transform: scale(0.5);
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	.video-poster svg {
		transform: scale(0.9);
	}
}

.video-poster:hover svg path {
	fill: var(--color--gray);
}

.video-poster.active {
	opacity: 0;
	pointer-events: none;
}

body.updates > main > div {
	column-gap: var(--gutter);
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-rows: min-content;
	grid-template-areas: "featured" "filter";
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body.updates > main > div {
		border-right: initial;
		grid-template-areas: "featured featured featured featured featured filter filter filter";
	}
}

@media (min-width: 64em) {
	body.updates > main > div {
		grid-template-areas: "featured featured filter";
	}
}

@media (min-width: 85em) {
	body.updates > main > div {
		grid-template-columns: repeat(2, minmax(0, 1fr)) 42.4rem;
	}
}

body.updates > main > div > section.featured {
	grid-area: featured;
	padding: var(--margin) var(--margin) var(--margin--5);
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body.updates > main > div > section.featured {
		margin-right: calc(-1 * var(--gutter));
	}
}

body.updates > main > div > section.featured > header {
	padding-bottom: var(--margin);
}

body.updates > main > div > section.featured > section {
	column-gap: var(--gutter);
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-rows: min-content;
	grid-template-areas: "image" "title" "text";
	row-gap: var(--margin);
}

@media (min-width: 78.75em) {
	body.updates > main > div > section.featured > section {
		grid-template-areas: "image image" "title text";
	}
}

body.updates > main > div > section.featured > section > figure {
	grid-area: image;
}

body.updates > main > div > section.featured > section > header {
	grid-area: title;
	padding-right: var(--margin);
}

body.updates > main > div > section.featured > section > header > h3 {
	--typography--size: 2.4rem;
	max-width: 28ch;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.updates > main > div > section.featured > section > header > h3 {
		--typography--size: 3.2rem;
	}
}

body.updates > main > div > section.featured > section > aside {
	grid-area: text;
	margin-top: calc(var(--margin) / 2);
}

@media (min-width: 78.75em) {
	body.updates > main > div > section.featured > section > aside {
		margin-top: initial;
	}
}

body.updates > main > div > section.featured > section > aside > p {
	--typography--size: 1.6rem;
	max-width: 50ch;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.updates > main > div > section.featured > section > aside > p {
		--typography--size: 1.8rem;
	}
}

body.updates > main > div > section.featured > section > aside a:hover {
	text-decoration-color: var(--color--orange) !important;
}

body.updates > main > div > section.featured > section > aside > div {
	display: flex;
	margin-top: var(--margin--1-5);
}

body.updates > main > div > section.featured > menu {
	column-gap: var(--margin);
	display: grid;
	grid-auto-rows: min-content;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	margin-top: var(--margin--2);
	row-gap: var(--margin--2);
}

body.updates > main > div > section.featured > menu > li > a {
	width: calc(100% + var(--link--enlargement) * 2);
}

body.updates > main > div > section.featured > menu > li > a > div:not(:last-child) {
	padding-bottom: var(--gutter);
	padding-top: var(--gutter);
}

body.updates > main > div > section.featured > menu > li > a > div:last-child > h3 {
	--typography--size: 1.6rem;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.updates > main > div > section.featured > menu > li > a > div:last-child > h3 {
		--typography--size: 2rem;
	}
}

body.updates > main > div > section.filter {
	background: var(--color--yellow);
	grid-area: filter;
	scroll-margin-top: calc(var(--sticky--width) - var(--border--width));
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body.updates > main > div > section.filter {
		bottom: 0;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: scroll;
		position: sticky;
		scroll-margin-top: initial;
		top: 0;
	}

	body.updates > main > div > section.filter:after {
		content: initial;
	}
}

body.updates > main > div > section.filter > header {
	background: var(--color--yellow);
	border-bottom: var(--border);
	border-color: var(--color--reset);
	border-top: var(--border);
	padding-left: var(--margin);
	padding-right: var(--margin);
	padding-top: var(--margin);
	position: sticky;
	top: var(--header--height, 0rem);
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body.updates > main > div > section.filter > header {
		border-top: initial;
		top: 0;
	}
}

body.updates > main > div > section.filter > header > h2 {
	color: var(--color--reset);
}

body.updates > main > div > section.filter > header > div {
	margin-left: calc(-1 * var(--margin));
	margin-right: calc(-1 * var(--margin));
	overflow-x: scroll;
	overflow-y: hidden;
	padding-bottom: var(--margin);
	padding-left: var(--margin);
	padding-right: var(--margin);
	padding-top: var(--margin--1-5);
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body.updates > main > div > section.filter > header > div {
		padding-top: var(--margin);
	}
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body.updates > main > div > section.filter > header > div > menu {
		gap: var(--gutter);
	}
}

body.updates > main > div > section.filter > header > div > menu > li > a > h2 {
	text-shadow: none;
}

body.updates > main > div > section.filter > header > div > menu > li > a > h2:hover,
body.updates > main > div > section.filter > header > div > menu > li.current > a > h2 {
	text-decoration-color: var(--color--reset) !important;
}

body.updates > main > div > section.filter > header > div > menu > li:last-child {
	padding-right: var(--margin);
}

body.updates > main > div > section.filter > menu {
	display: flex;
	flex-direction: column;
	gap: var(--margin--1-5);
	min-height: calc(100vh - var(--filter--height, 0rem) + 0.2rem);
	padding: var(--margin--1-5) var(--margin) var(--margin--5);
}

body.updates > main > div > section.filter > menu > li div:not(:last-child) > p {
	color: var(--color--reset);
}

body.updates > main > div > section.filter > menu > li div:last-child > h3 {
	--color--safari: var(--color--reset);
	color: var(--color--reset);
	--typography--underline-offset: -0.065em;
	text-shadow: none !important;
}

.expand-wrapper {
	display: block !important;
	overflow-x: visible;
	overflow-y: hidden;
	height: 0;
	transition: all var(--cubic--in-out) 300ms;
}

.expand-content {
	margin-left: var(--typography--margin--left);
	margin-right: var(--typography--margin--right);
	padding-bottom: var(--margin--1-5);
	padding-top: 1px;
}

.expand-content p {
	--typography--size: 1.6rem;
	max-width: 50ch;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	.expand-content p {
		--typography--size: 1.8rem;
	}
}

.expand-content p > strong {
	font-weight: 700 !important;
}

.expand-content a:hover {
	text-decoration-color: var(--color--orange) !important;
}

.expand-button {
	cursor: pointer;
	font-size: 1.4rem;
}

.expand-button .read-more-icon {
	display: inline-block;
}

.expand-button .read-less-icon {
	display: none;
}

.expand-button::after {
	content: "READ MORE";
	margin-left: 4px;
}

.expand-button:hover::after {
	color: var(--color--orange) !important;
}

.expand-wrapper.expanded {
	margin-top: calc(var(--margin--1-5) - 1px) !important;
}

.expand-wrapper.expanded + .expand-button .read-more-icon {
	display: none;
}

.expand-wrapper.expanded + .expand-button .read-less-icon {
	display: inline-block;
}

.expand-wrapper.expanded + .expand-button::after {
	content: "READ LESS";
}