.splide__pagination,
body.work.single > main > header > section.intro > div > aside > ul,
body.work.single > main > header > section.process > header > h2,
body.work.single > main > article > section.text > header > h2,
body.work:not(.single) > main > header > menu > li,
body.work:not(.single) > main > section > menu > li blockquote > p,
body.work.single > main > section > menu > li blockquote > p,
body.work.single > main > header > section.intro > div > blockquote > p,
body.work.single > main > header > section.process > div > blockquote > p,
body.work.single > main > article > section.text > div > blockquote > p,
body.work:not(.single) > main > header > h1,
body.work.single > main > header > section.intro > header > a > p,
body.work.single > main > header > section.intro > header > a > h1,
body.work.single > main > section > header > a > h2,
body.work.single > main > header > section.intro > div > div p,
body.work.single > main > header > section.process > div > aside > p,
body.work.single > main > article > section.sticky > aside > p,
body.work.single > main > article > section.text > div > aside > p,
body.work:not(.single) > main > section > menu > li h3,
body.work.single > main > section > menu > li h3 {
	--typography--shoulder: calc(1 - var(--typography--cap-height));
	--typography--shoulder--top: calc(var(--typography--shoulder) - var(--typography--shoulder--bottom));
}

body.work:not(.single) > main > header > h1,
body.work.single > main > header > section.intro > header > a > p,
body.work.single > main > header > section.intro > header > a > h1,
body.work.single > main > section > header > a > h2,
body.work.single > main > header > section.intro > div > div p,
body.work.single > main > header > section.process > div > aside > p,
body.work.single > main > article > section.sticky > aside > p,
body.work.single > main > article > section.text > div > aside > p,
body.work:not(.single) > main > section > menu > li h3,
body.work.single > main > section > menu > li h3 {
	--typography--cap-height: 0.714;
	--typography--x-height: 0.517;
	--typography--shoulder--bottom: 0.286;
	--typography--shoulder--input: 0.100;
	font-family: "LT Helvetica Neue", sans-serif;
}

body.work:not(.single) > main > section > menu > li blockquote > p,
body.work.single > main > section > menu > li blockquote > p,
body.work.single > main > header > section.intro > div > blockquote > p,
body.work.single > main > header > section.process > div > blockquote > p,
body.work.single > main > article > section.text > div > blockquote > p {
	--typography--cap-height: 0.680;
	--typography--x-height: 0.474;
	--typography--shoulder--bottom: 0.174;
	font-family: "GT Alpina", serif;
}

.splide__pagination,
body.work.single > main > header > section.intro > div > aside > ul,
body.work.single > main > header > section.process > header > h2,
body.work.single > main > article > section.text > header > h2,
body.work:not(.single) > main > header > menu > li {
	--typography--cap-height: 0.659;
	--typography--x-height: 0.529;
	--typography--shoulder--bottom: 0.234;
	font-family: "SM Cousine", monospace;
}

body.work.single > main > header > section.intro > div > div p,
body.work.single > main > header > section.process > div > aside > p,
body.work.single > main > article > section.sticky > aside > p,
body.work.single > main > article > section.text > div > aside > p,
body.work:not(.single) > main > section > menu > li h3,
body.work.single > main > section > menu > li h3 {
	--typography--weight: 400;
	--typography--inset--left: -0.080;
	--typography--inset--right: -0.064;
	--typography--underline: 0.075;
	--typography--underline--shift: -0.010;
	--typography--underline--skip: 0.085;
}

body.work:not(.single) > main > header > h1,
body.work.single > main > header > section.intro > header > a > p,
body.work.single > main > header > section.intro > header > a > h1,
body.work.single > main > section > header > a > h2 {
	--typography--weight: 700;
	--typography--inset--left: -0.069;
	--typography--inset--right: -0.058;
	--typography--underline: 0.090;
	--typography--underline--shift: 0.043;
	--typography--underline--skip: 0.112;
}

body.work:not(.single) > main > section > menu > li blockquote > p,
body.work.single > main > section > menu > li blockquote > p,
body.work.single > main > header > section.intro > div > blockquote > p,
body.work.single > main > header > section.process > div > blockquote > p,
body.work.single > main > article > section.text > div > blockquote > p {
	--typography--weight: 200;
	--typography--inset--left: -0.035;
	--typography--inset--right: -0.030;
	--typography--underline: 0.023;
	--typography--underline--shift: -0.148;
	--typography--underline--skip: 0.050;
}

.splide__pagination,
body.work.single > main > header > section.intro > div > aside > ul,
body.work.single > main > header > section.process > header > h2,
body.work.single > main > article > section.text > header > h2,
body.work:not(.single) > main > header > menu > li {
	--typography--weight: 400;
	--typography--inset--left: -0.063;
	--typography--inset--right: -0.051;
	--typography--underline: 0.067;
	--typography--underline--shift: -0.040;
	--typography--underline--skip: 0.088;
}

body.work:not(.single) > main > section > menu > li h3,
body.work.single > main > section > menu > li h3 {
	--typography--leading: 1.1;
}

body.work:not(.single) > main > section > menu > li blockquote > p,
body.work.single > main > section > menu > li blockquote > p,
body.work.single > main > header > section.intro > div > blockquote > p,
body.work.single > main > header > section.process > div > blockquote > p,
body.work.single > main > article > section.text > div > blockquote > p {
	--typography--leading: 1.2;
}

body.work.single > main > header > section.intro > div > div p,
body.work.single > main > header > section.process > div > aside > p,
body.work.single > main > article > section.sticky > aside > p,
body.work.single > main > article > section.text > div > aside > p {
	--typography--leading: 1.35;
}

body.work:not(.single) > main > section > menu > li blockquote > p,
body.work.single > main > section > menu > li blockquote > p,
body.work.single > main > header > section.intro > div > blockquote > p,
body.work.single > main > header > section.process > div > blockquote > p,
body.work.single > main > article > section.text > div > blockquote > p {
	letter-spacing: -0.01em;
}

body.work.single > main > header > section.intro > div > aside > ul,
body.work.single > main > header > section.process > header > h2,
body.work.single > main > article > section.text > header > h2,
body.work:not(.single) > main > header > menu > li,
body.work:not(.single) > main > header > h1,
body.work.single > main > header > section.intro > header > a > p,
body.work.single > main > header > section.intro > header > a > h1,
body.work.single > main > section > header > a > h2 {
	letter-spacing: 0.04em;
}

body.work.single > main > header > section.intro > div > aside > ul,
body.work:not(.single) > main > header > menu > li {
	--typography--font-size: calc(var(--typography--scale, 1) * var(--typography--size--override, var(--typography--size)));
	--typography--line-height: calc(var(--typography--leading) * var(--typography--size--override, var(--typography--size)));
	--typography--cap: calc(var(--typography--cap-height) * 1em);
	--typography--between: calc(var(--typography--font-size) * (var(--typography--leading) + var(--typography--shoulder) - 1));
	line-height: var(--typography--line-height);
	font-size: var(--typography--font-size);
}

body.work.single > main > header > section.intro > div > div p,
body.work.single > main > header > section.process > div > aside > p,
body.work.single > main > article > section.sticky > aside > p,
body.work.single > main > article > section.text > div > aside > p,
body.work:not(.single) > main > section > menu > li blockquote > p,
body.work.single > main > section > menu > li blockquote > p,
body.work.single > main > header > section.intro > div > blockquote > p,
body.work.single > main > header > section.process > div > blockquote > p,
body.work.single > main > article > section.text > div > blockquote > p {
	--typography--extra-lines: 1;
}

body.work:not(.single) > main > header > menu > li > a > h2,
body.work:not(.single) > main > section > menu > li > a > blockquote > p,
body.work.single > main > section > menu > li > a > blockquote > p {
	text-decoration-color: var(--color);
	text-decoration-line: underline;
	text-decoration-skip-ink: none;
	text-decoration-thickness: var(--typography--decoration-thickness);
	text-underline-offset: calc(-1 * var(--typography--underline-offset) + var(--typography--decoration-thickness) + var(--typography--underline-offset--extra, 0em));
	text-shadow: var(--color--background) var(--typography--text-shadow) 0, var(--color--background) var(--typography--text-shadow) calc(var(--typography--text-shadow) / 3), var(--color--background) 0 calc(var(--typography--text-shadow) / 3), var(--color--background) calc(-1 * var(--typography--text-shadow)) calc(var(--typography--text-shadow) / 3), var(--color--background) calc(-1 * var(--typography--text-shadow)) 0, var(--color--background) calc(-1 * var(--typography--text-shadow)) calc(-1 * var(--typography--text-shadow) / 3), var(--color--background) 0 calc(-1 * var(--typography--text-shadow) / 3), var(--color--background) var(--typography--text-shadow) calc(-1 * var(--typography--text-shadow) / 3);
}

@-moz-document url-prefix() {

	body.work:not(.single) > main > header > menu > li > a > h2,
	body.work:not(.single) > main > section > menu > li > a > blockquote > p,
	body.work.single > main > section > menu > li > a > blockquote > p {
		--typography--underline-offset--extra: calc(var(--typography--decoration-thickness) / 2);
	}
}

@supports (-webkit-hyphens: none) {

	body.work:not(.single) > main > header > menu > li > a > h2,
	body.work:not(.single) > main > section > menu > li > a > blockquote > p,
	body.work.single > main > section > menu > li > a > blockquote > p {
		--typography--underline-offset--extra: calc(var(--typography--decoration-thickness) / 2);
	}
}

body.work:not(.single) > main > header > h1,
body.work.single > main > header > section.intro > header > a > p,
body.work.single > main > header > section.intro > header > a > h1,
body.work.single > main > section > header > a > h2 {
	--typography--size: 1.2rem;
	color: var(--color--yellow);
	text-transform: uppercase;
	white-space: nowrap;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {

	body.work:not(.single) > main > header > h1,
	body.work.single > main > header > section.intro > header > a > p,
	body.work.single > main > header > section.intro > header > a > h1,
	body.work.single > main > section > header > a > h2 {
		--typography--size: 1.4rem;
	}
}

body.work.single > main > header > section.intro > div > blockquote > p,
body.work.single > main > header > section.process > div > blockquote > p,
body.work.single > main > article > section.text > div > blockquote > p {
	--typography--size: 3.2rem;
	max-width: 28ch;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {

	body.work.single > main > header > section.intro > div > blockquote > p,
	body.work.single > main > header > section.process > div > blockquote > p,
	body.work.single > main > article > section.text > div > blockquote > p {
		--typography--size: 4.8rem;
	}
}

body.work.single > main > header > section.intro > div > aside > ul,
body.work.single > main > header > section.process > header > h2,
body.work.single > main > article > section.text > header > h2,
body.work:not(.single) > main > header > menu > li {
	--typography--size: 1.2rem;
	text-transform: uppercase;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {

	body.work.single > main > header > section.intro > div > aside > ul,
	body.work.single > main > header > section.process > header > h2,
	body.work.single > main > article > section.text > header > h2,
	body.work:not(.single) > main > header > menu > li {
		--typography--size: 1.3rem;
	}
}

body.work:not(.single) > main > section > menu > li h3,
body.work.single > main > section > menu > li h3 {
	--typography--size: 1.6rem;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {

	body.work:not(.single) > main > section > menu > li h3,
	body.work.single > main > section > menu > li h3 {
		--typography--size: 1.8rem;
	}
}

body.work:not(.single) > main > section > menu > li blockquote > p,
body.work.single > main > section > menu > li blockquote > p {
	--typography--size: 1.8rem;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {

	body.work:not(.single) > main > section > menu > li blockquote > p,
	body.work.single > main > section > menu > li blockquote > p {
		--typography--size: 2rem;
	}
}

@media (min-width: 35.5em) {

	body.work:not(.single) > main > section > menu > li.featured h3,
	body.work.single > main > section > menu > li.featured h3 {
		--typography--size: 2rem;
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {

	body.work:not(.single) > main > section > menu > li.featured h3,
	body.work.single > main > section > menu > li.featured h3 {
		--typography--size: 2.4rem;
	}
}

@media (min-width: 35.5em) {

	body.work:not(.single) > main > section > menu > li.featured blockquote > p,
	body.work.single > main > section > menu > li.featured blockquote > p {
		--typography--size: 2.2rem;
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {

	body.work:not(.single) > main > section > menu > li.featured blockquote > p,
	body.work.single > main > section > menu > li.featured blockquote > p {
		--typography--size: 2.6rem;
	}
}

.focus body.work.single > main > header > section.intro > div > div p a:not(:disabled):focus,
body.work.single > main > header > section.intro > div > div .focus p a:not(:disabled):focus,
.focus body.work.single > main > header > section.process > div > aside > p a:not(:disabled):focus,
.focus body.work.single > main > article > section.sticky > aside > p a:not(:disabled):focus,
.focus body.work.single > main > article > section.text > div > aside > p a:not(:disabled):focus,
body.work.single > main > header > section.intro > div > div p .focus a:not(:disabled):focus,
body.work.single > main > header > section.process > div > aside > p .focus a:not(:disabled):focus,
body.work.single > main > article > section.sticky > aside > p .focus a:not(:disabled):focus,
body.work.single > main > article > section.text > div > aside > p .focus a:not(:disabled):focus,
.focus body.work.single > main > section > header > a:not(:disabled):focus,
.focus body.work:not(.single) > main > header > menu > li > a:not(:disabled):focus,
.focus body.work:not(.single) > main > section > menu > li > a:not(:disabled):focus,
.focus body.work.single > main > section > menu > li > a:not(:disabled):focus {
	outline-color: var(--link--outline);
	outline-style: solid;
	outline-width: var(--link--outline--width);
}

body.work.single > main > header > section.intro > div > div p a,
body.work.single > main > header > section.process > div > aside > p a,
body.work.single > main > article > section.sticky > aside > p a,
body.work.single > main > article > section.text > div > aside > p a,
body.work.single > main > header > section.intro > header > a,
body.work.single > main > section > header > a,
body.work:not(.single) > main > header > menu > li > a,
body.work:not(.single) > main > section > menu > li > a,
body.work.single > main > section > menu > li > a {
	-webkit-tap-highlight-color: var(--link--highlight);
	cursor: pointer;
	transition-duration: 50ms, var(--hover--duration);
	transition-property: background-color, text-decoration-color;
}

body.work.single > main > header > section.intro > div > div p a:active,
body.work.single > main > header > section.process > div > aside > p a:active,
body.work.single > main > article > section.sticky > aside > p a:active,
body.work.single > main > article > section.text > div > aside > p a:active,
body.work.single > main > header > section.intro > header > a:active,
body.work.single > main > section > header > a:active,
body.work:not(.single) > main > header > menu > li > a:active,
body.work:not(.single) > main > section > menu > li > a:active,
body.work.single > main > section > menu > li > a:active {
	border-radius: calc(var(--link--enlargement) / 3);
}

body.work.single > main > header > section.intro > div > div p a:active h1,
body.work.single > main > header > section.process > div > aside > p a:active h1,
body.work.single > main > article > section.sticky > aside > p a:active h1,
body.work.single > main > article > section.text > div > aside > p a:active h1,
body.work.single > main > header > section.intro > header > a:active h1,
body.work.single > main > section > header > a:active h1,
body.work:not(.single) > main > header > menu > li > a:active h1,
body.work:not(.single) > main > section > menu > li > a:active h1,
body.work.single > main > section > menu > li > a:active h1,
body.work.single > main > header > section.intro > div > div p a:active h2,
body.work.single > main > header > section.process > div > aside > p a:active h2,
body.work.single > main > article > section.sticky > aside > p a:active h2,
body.work.single > main > article > section.text > div > aside > p a:active h2,
body.work.single > main > header > section.intro > header > a:active h2,
body.work.single > main > section > header > a:active h2,
body.work:not(.single) > main > header > menu > li > a:active h2,
body.work:not(.single) > main > section > menu > li > a:active h2,
body.work.single > main > section > menu > li > a:active h2,
body.work.single > main > header > section.intro > div > div p a:active h3,
body.work.single > main > header > section.process > div > aside > p a:active h3,
body.work.single > main > article > section.sticky > aside > p a:active h3,
body.work.single > main > article > section.text > div > aside > p a:active h3,
body.work.single > main > header > section.intro > header > a:active h3,
body.work.single > main > section > header > a:active h3,
body.work:not(.single) > main > header > menu > li > a:active h3,
body.work:not(.single) > main > section > menu > li > a:active h3,
body.work.single > main > section > menu > li > a:active h3,
body.work.single > main > header > section.intro > div > div p a:active h4,
body.work.single > main > header > section.process > div > aside > p a:active h4,
body.work.single > main > article > section.sticky > aside > p a:active h4,
body.work.single > main > article > section.text > div > aside > p a:active h4,
body.work.single > main > header > section.intro > header > a:active h4,
body.work.single > main > section > header > a:active h4,
body.work:not(.single) > main > header > menu > li > a:active h4,
body.work:not(.single) > main > section > menu > li > a:active h4,
body.work.single > main > section > menu > li > a:active h4,
body.work.single > main > header > section.intro > div > div p a:active h5,
body.work.single > main > header > section.process > div > aside > p a:active h5,
body.work.single > main > article > section.sticky > aside > p a:active h5,
body.work.single > main > article > section.text > div > aside > p a:active h5,
body.work.single > main > header > section.intro > header > a:active h5,
body.work.single > main > section > header > a:active h5,
body.work:not(.single) > main > header > menu > li > a:active h5,
body.work:not(.single) > main > section > menu > li > a:active h5,
body.work.single > main > section > menu > li > a:active h5,
body.work.single > main > header > section.intro > div > div p a:active h6,
body.work.single > main > header > section.process > div > aside > p a:active h6,
body.work.single > main > article > section.sticky > aside > p a:active h6,
body.work.single > main > article > section.text > div > aside > p a:active h6,
body.work.single > main > header > section.intro > header > a:active h6,
body.work.single > main > section > header > a:active h6,
body.work:not(.single) > main > header > menu > li > a:active h6,
body.work:not(.single) > main > section > menu > li > a:active h6,
body.work.single > main > section > menu > li > a:active h6,
body.work.single > main > header > section.intro > div > div p a:active p,
body.work.single > main > header > section.process > div > aside > p a:active p,
body.work.single > main > article > section.sticky > aside > p a:active p,
body.work.single > main > article > section.text > div > aside > p a:active p,
body.work.single > main > header > section.intro > header > a:active p,
body.work.single > main > section > header > a:active p,
body.work:not(.single) > main > header > menu > li > a:active p,
body.work:not(.single) > main > section > menu > li > a:active p,
body.work.single > main > section > menu > li > a:active p {
	--color--background: transparent;
	transition-duration: 0s;
}

body.work.single > main > header > section.intro > div > div p a:focus,
body.work.single > main > header > section.process > div > aside > p a:focus,
body.work.single > main > article > section.sticky > aside > p a:focus,
body.work.single > main > article > section.text > div > aside > p a:focus,
body.work.single > main > header > section.intro > header > a:focus,
body.work.single > main > section > header > a:focus,
body.work:not(.single) > main > header > menu > li > a:focus,
body.work:not(.single) > main > section > menu > li > a:focus,
body.work.single > main > section > menu > li > a:focus {
	outline: none;
	z-index: 1;
}

body.work:not(.single) > main > section > menu > li > a > div,
body.work.single > main > section > menu > li > a > div,
body.work:not(.single) > main > section > menu > li > a > blockquote,
body.work.single > main > section > menu > li > a > blockquote,
body.work:not(.single) > main > section > menu > li > a > blockquote > p,
body.work.single > main > section > menu > li > a > blockquote > p,
body.work:not(.single) > main > header > menu > li > a > h2,
body.work.single > main > header > section.intro > header > a,
body.work.single > main > section > header > a,
body.work:not(.single) > main > header > menu > li > a,
body.work:not(.single) > main > section > menu > li > a,
body.work.single > main > section > menu > li > a {
	margin: calc(var(--link--enlargement) * -1);
	padding: var(--link--enlargement);
}

body.work.single > main > header > section.intro > header > a,
body.work.single > main > section > header > a,
body.work:not(.single) > main > header > menu > li > a,
body.work:not(.single) > main > section > menu > li > a,
body.work.single > main > section > menu > li > a {
	display: flex;
	flex-direction: column;
	width: fit-content;
}

body.work.single > main > header > section.intro > div > div p a,
body.work.single > main > header > section.process > div > aside > p a,
body.work.single > main > article > section.sticky > aside > p a,
body.work.single > main > article > section.text > div > aside > p a {
	border-color: transparent;
	border-style: solid;
	border-width: var(--link--enlargement);
	margin: calc(-1 * var(--link--enlargement));
	border-bottom-width: calc(var(--link--enlargement) / 2);
	margin-bottom: calc(-1 * var(--link--enlargement) / 2);
}

body.work.single > main > header > section.intro > div > div p a:active,
body.work.single > main > header > section.process > div > aside > p a:active,
body.work.single > main > article > section.sticky > aside > p a:active,
body.work.single > main > article > section.text > div > aside > p a:active {
	--color--background: transparent;
}

@media (any-hover: hover) {

	body.work.single > main > header > section.intro > div > div p a:hover,
	body.work.single > main > header > section.process > div > aside > p a:hover,
	body.work.single > main > article > section.sticky > aside > p a:hover,
	body.work.single > main > article > section.text > div > aside > p a:hover {
		text-decoration-color: var(--color--hover);
	}
}

@media (any-hover: hover) {

	body.work:not(.single) > main > section > menu > li > a,
	body.work.single > main > section > menu > li > a {
		pointer-events: none;
	}

	body.work:not(.single) > main > section > menu > li > a > *,
	body.work.single > main > section > menu > li > a > * {
		pointer-events: auto;
	}
}

body.work:not(.single) > main > section > menu > li > a > blockquote > p,
body.work.single > main > section > menu > li > a > blockquote > p,
body.work:not(.single) > main > header > menu > li > a > h2 {
	--typography--decoration-thickness: var(--border--width);
	--typography--underline-offset: -0.1em;
	margin-left: calc(-1 * var(--link--enlargement) + var(--typography--margin--left, 0rem));
	margin-right: calc(-1 * var(--link--enlargement) + var(--typography--margin--right, 0rem));
	max-width: initial;
	text-decoration-color: transparent;
	transition-duration: var(--hover--duration);
}

@supports (-webkit-hyphens: none) {

	body.work:not(.single) > main > section > menu > li > a > blockquote > p,
	body.work.single > main > section > menu > li > a > blockquote > p,
	body.work:not(.single) > main > header > menu > li > a > h2 {
		--color--safari: #F8F7F7;
		text-decoration-color: var(--color--background);
	}
}

@media (any-hover: hover) {

	body.work:not(.single) > main > section > menu > li > a:hover > blockquote > p,
	body.work.single > main > section > menu > li > a:hover > blockquote > p,
	body.work:not(.single) > main > header > menu > li > a > h2:hover {
		text-decoration-color: var(--color--hover);
	}

	@supports (-webkit-hyphens: none) {

		body.work:not(.single) > main > section > menu > li > a:hover > blockquote > p,
		body.work.single > main > section > menu > li > a:hover > blockquote > p,
		body.work:not(.single) > main > header > menu > li > a > h2:hover {
			color: var(--color--safari);
		}
	}
}

html {
	scroll-behavior: smooth;
}

body.work:not(.single) > main > section > menu > li > a,
body.work.single > main > section > menu > li > a {
	align-items: start;
	column-gap: var(--margin);
	display: grid;
	grid-auto-rows: min-content;
	grid-template-areas: "image  image  image  image   image   image   image   image" "client client client summary summary summary summary summary";
	grid-auto-columns: minmax(0, 1fr);
	justify-items: start;
	width: initial;
}

@media (min-width: 35.5em) {

	body.work:not(.single) > main > section > menu > li > a,
	body.work.single > main > section > menu > li > a {
		grid-template-areas: "image" "client" "summary";
	}
}

@media (min-width: 64em) {

	body.work:not(.single) > main > section > menu > li > a,
	body.work.single > main > section > menu > li > a {
		grid-template-areas: "image  image  image  image   image   image   image   image" "client client client summary summary summary summary summary";
	}
}

@media (min-width: 87.5em) {

	body.work:not(.single) > main > section > menu > li > a,
	body.work.single > main > section > menu > li > a {
		grid-template-areas: "image  image" "client summary";
	}
}

body.work:not(.single) > main > section > menu > li > a > figure,
body.work.single > main > section > menu > li > a > figure {
	grid-area: image;
}

body.work:not(.single) > main > section > menu > li > a > div,
body.work.single > main > section > menu > li > a > div,
body.work:not(.single) > main > section > menu > li > a > blockquote,
body.work.single > main > section > menu > li > a > blockquote {
	margin-top: initial;
	padding-top: var(--gutter);
}

body.work:not(.single) > main > section > menu > li > a > div,
body.work.single > main > section > menu > li > a > div {
	grid-area: client;
}

body.work:not(.single) > main > section > menu > li > a > div > h3,
body.work.single > main > section > menu > li > a > div > h3 {
	transition-duration: var(--hover--duration);
}

body.work:not(.single) > main > section > menu > li > a > blockquote,
body.work.single > main > section > menu > li > a > blockquote {
	grid-area: summary;
	margin-right: var(--gutter);
}

@media (max-width: 23.375em) {

	body.work:not(.single) > main > section > menu > li > a > blockquote,
	body.work.single > main > section > menu > li > a > blockquote {
		margin-right: initial;
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {

	body.work:not(.single) > main > section > menu > li > a > blockquote,
	body.work.single > main > section > menu > li > a > blockquote {
		margin-right: initial;
	}
}

@media (min-width: 64em) {

	body.work:not(.single) > main > section > menu > li > a > blockquote,
	body.work.single > main > section > menu > li > a > blockquote {
		margin-right: var(--margin);
	}
}

body.work:not(.single) > main > section > menu > li > a > blockquote > p,
body.work.single > main > section > menu > li > a > blockquote > p {
	max-width: 28ch;
}

@media (any-hover: hover) {

	body.work:not(.single) > main > section > menu > li > a:hover > div > h3,
	body.work.single > main > section > menu > li > a:hover > div > h3 {
		--color: var(--color--hover);
	}
}

@media (min-width: 35.5em) and (min-width: 35.5em) {

	body.work:not(.single) > main > section > menu > li.featured > a,
	body.work.single > main > section > menu > li.featured > a {
		grid-template-areas: "image  image" "client summary";
	}
}

body.work:not(.single) > main > header > menu {
	display: flex;
	gap: var(--margin);
}

body.work:not(.single) > main > header > menu > li {
	--underline--offset: 0.25em;
	padding-bottom: var(--underline--offset);
}

body.work:not(.single) > main > header > menu > li > a > h2 {
	--color: var(--color--reset);
	--color--safari: #838283;
	--typography--underline-offset: calc(-1 * var(--underline--offset));
}

body.work:not(.single) > main > header > menu > li.current {
	pointer-events: none;
}

body.work:not(.single) > main > header > menu > li.current > a > h2 {
	--color: var(--color--reset);
	text-decoration-color: var(--color--hover);
}

.splide__arrow {
	height: 100%;
	width: 20%;
	border-radius: 0;
	opacity: 0 !important;
	top: 0;
	transform: none;
}

@media (pointer: coarse) {
	.splide__arrow {
		display: none;
	}
}

.splide__arrow--prev {
	left: 0;
}

.splide__arrow--prev:hover {
	cursor: url("data:image/svg+xml,%3Csvg width='61' height='64' viewBox='0 0 61 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.9985 31.9303L5.00294 31.9303' stroke='%23F15F3C' stroke-width='6.64867' stroke-miterlimit='10'/%3E%3Cpath d='M33.0858 60.8591L4.99999 31.9296L33.0858 3' stroke='%23F15F3C' stroke-width='6.64867' stroke-miterlimit='10'/%3E%3C/svg%3E%0A") 32 32, auto;
}

.splide__arrow--next {
	right: 0;
}

.splide__arrow--next:hover {
	cursor: url("data:image/svg+xml,%3Csvg width='61' height='64' viewBox='0 0 61 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.90735e-06 31.9289L55.9956 31.9289' stroke='%23F15F3C' stroke-width='6.64867' stroke-miterlimit='10'/%3E%3Cpath d='M27.9127 3L55.9986 31.9296L27.9127 60.8591' stroke='%23F15F3C' stroke-width='6.64867' stroke-miterlimit='10'/%3E%3C/svg%3E%0A") 32 32, auto;
}

.splide__pagination {
	left: auto;
	bottom: 0;
	background: var(--color--background);
	color: var(--color--faded);
	align-items: flex-start;
	padding-top: var(--gutter);
	padding-right: 0;
}

.splide__pagination__page {
	display: none;
	background: none;
	background-color: none;
	width: auto;
	margin: 0;
	margin-top: -1px;
	transform: none !important;
	height: 12px;
	font-size: 1.2rem;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	.splide__pagination__page {
		font-size: 1.3rem !important;
	}
}

.splide__pagination__page.is-active {
	display: inline-block;
	background: var(--color--background);
	background-color: var(--color--background);
	border-radius: 0;
	opacity: 1;
}

.video-poster {
	background: #21202333;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: opacity var(--cubic--in-out) 250ms;
}

.video-poster svg {
	transform: scale(0.5);
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	.video-poster svg {
		transform: scale(0.9);
	}
}

.video-poster:hover svg path {
	fill: var(--color--gray);
}

.video-poster.active {
	opacity: 0;
	pointer-events: none;
}

body.work.single > main > article > section.sticky > aside > p,
body.work.single > main > header > section.intro > div > div p,
body.work.single > main > article > section.text > div > aside > p,
body.work.single > main > header > section.process > div > aside > p {
	--typography--size: 1.6rem;
	max-width: 50ch;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {

	body.work.single > main > article > section.sticky > aside > p,
	body.work.single > main > header > section.intro > div > div p,
	body.work.single > main > article > section.text > div > aside > p,
	body.work.single > main > header > section.process > div > aside > p {
		--typography--size: 1.8rem;
	}
}

body.work.single > main > article > section.text:not(:first-child),
body.work.single > main > header > section.process:not(:first-child) {
	border-top: var(--border);
}

body.work.single > main > article > section.text:not(:first-child) > header,
body.work.single > main > header > section.process:not(:first-child) > header {
	margin-top: var(--margin);
}

body.work.single > main > article > section.text:first-child > div:first-child,
body.work.single > main > header > section.process:first-child > div:first-child {
	margin-top: var(--margin);
}

body.work.single > main > article > section.text > div,
body.work.single > main > header > section.process > div {
	column-gap: var(--gutter);
	display: grid;
	grid-auto-rows: min-content;
	grid-template-areas: "text" "summary";
	margin-top: var(--margin--1-5);
	row-gap: var(--margin--2);
}

@media (min-width: 35.5em) {

	body.work.single > main > article > section.text > div,
	body.work.single > main > header > section.process > div {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-template-areas: "text summary";
	}

	body.work.single > main > article > section.text > div > *,
	body.work.single > main > header > section.process > div > * {
		padding-bottom: var(--margin--2);
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {

	body.work.single > main > article > section.text > div,
	body.work.single > main > header > section.process > div {
		grid-template-areas: "text    text" "summary summary";
	}

	body.work.single > main > article > section.text > div > *,
	body.work.single > main > header > section.process > div > * {
		padding-bottom: initial;
	}
}

@media (min-width: 64em) {

	body.work.single > main > article > section.text > div,
	body.work.single > main > header > section.process > div {
		grid-template-areas: "text text text summary summary summary summary summary";
		grid-template-columns: repeat(8, minmax(0, 1fr));
	}

	body.work.single > main > article > section.text > div > *,
	body.work.single > main > header > section.process > div > * {
		padding-bottom: var(--margin--2);
	}
}

@media (min-width: 78.75em) {

	body.work.single > main > article > section.text > div,
	body.work.single > main > header > section.process > div {
		grid-template-areas: "text summary summary";
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

body.work.single > main > article > section.text > div > aside,
body.work.single > main > header > section.process > div > aside {
	grid-area: text;
}

@media (min-width: 35.5em) {

	body.work.single > main > article > section.text > div > aside,
	body.work.single > main > header > section.process > div > aside {
		padding-right: var(--margin--2);
	}
}

body.work.single > main > article > section.text > div > blockquote,
body.work.single > main > header > section.process > div > blockquote {
	border-left: var(--border);
	grid-area: summary;
	padding-bottom: var(--margin--2);
	padding-left: var(--gutter);
}

@media (min-width: 35.5em) {

	body.work.single > main > article > section.text > div > blockquote,
	body.work.single > main > header > section.process > div > blockquote {
		margin-left: calc(-1 * var(--gutter));
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {

	body.work.single > main > article > section.text > div > blockquote,
	body.work.single > main > header > section.process > div > blockquote {
		margin-left: initial;
	}
}

@media (min-width: 64em) {

	body.work.single > main > article > section.text > div > blockquote,
	body.work.single > main > header > section.process > div > blockquote {
		margin-left: calc(-1 * var(--gutter));
	}
}

body.work.single > main > article > section.text > div > blockquote > p,
body.work.single > main > header > section.process > div > blockquote > p {
	--typography--size: 2.4rem;
	max-width: 36ch;
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {

	body.work.single > main > article > section.text > div > blockquote > p,
	body.work.single > main > header > section.process > div > blockquote > p {
		--typography--size: 4.8rem;
	}
}

body.work.single > main > article > section.text:not(:first-child),
body.work.single > main > article > section.sticky:not(:first-child) {
	margin-top: var(--margin);
}

body.work.single > main > article > section.text:not(:last-child),
body.work.single > main > article > section.sticky:not(:last-child) {
	margin-bottom: var(--margin);
}

body.work.single > main > article > .sticky + section.text,
body.work.single > main > article > .sticky + section.sticky,
body.work.single > main > article > .text + section.text,
body.work.single > main > article > .text + section.sticky {
	margin-top: initial;
}

body.work:not(.single) > main > header {
	display: flex;
	flex-direction: column;
	gap: var(--margin--1-5);
	padding-left: var(--margin);
	padding-right: var(--margin);
	padding-top: var(--margin);
}

body.work:not(.single) > main > header > h1 {
	color: var(--color--yellow);
}

body.work:not(.single) > main > header > menu > li {
	--typography--size: 1.5rem;
}

body.work:not(.single) > main > header > menu > li > a > h2 {
	color: var(--color--invert) !important;
}

body.work:not(.single) > main > section {
	min-height: 90vh;
	padding: var(--margin) var(--margin) var(--margin--5);
}

body.work:not(.single) > main > section > menu {
	column-gap: var(--margin);
	display: grid;
	grid-auto-rows: min-content;
	row-gap: var(--margin--2);
}

@media (min-width: 35.5em) {
	body.work:not(.single) > main > section > menu {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	body.work:not(.single) > main > section > menu > .featured {
		grid-column: span 2;
	}
}

body.work.single > main > header {
	display: flex;
	flex-direction: column;
	padding: var(--margin) var(--margin) var(--margin--3);
	row-gap: var(--margin--3);
}

body.work.single > main > header > section.intro > header {
	border-bottom: var(--border);
	display: flex;
	gap: var(--margin--2);
	padding-bottom: var(--margin);
}

@media (min-width: 78.75em) {
	body.work.single > main > header > section.intro > header {
		display: grid;
		gap: var(--gutter);
		grid-auto-rows: min-content;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		justify-items: start;
	}
}

body.work.single > main > header > section.intro > div {
	column-gap: var(--gutter);
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-rows: min-content;
	grid-template-areas: "summary" "intro" "services";
	margin-top: var(--margin--1-5);
	row-gap: var(--margin--2);
}

@media (min-width: 35.5em) {
	body.work.single > main > header > section.intro > div {
		grid-template-areas: "summary summary summary" "intro   intro   services";
	}

	body.work.single > main > header > section.intro > div > div,
	body.work.single > main > header > section.intro > div > aside {
		padding-bottom: var(--margin--2);
	}
}

@media (min-width: 64em) {
	body.work.single > main > header > section.intro > div {
		grid-template-areas: "summary summary summary summary summary summary  summary  summary" "intro   intro   intro   intro   intro   services services services";
	}
}

@media (min-width: 78.75em) {
	body.work.single > main > header > section.intro > div {
		grid-template-areas: "summary summary summary intro intro intro intro services services";
	}

	body.work.single > main > header > section.intro > div > * {
		padding-bottom: var(--margin--2);
	}
}

@media (min-width: 100em) {
	body.work.single > main > header > section.intro > div {
		grid-template-areas: "summary summary summary summary intro intro intro intro . services services services";
	}
}

body.work.single > main > header > section.intro > div > blockquote {
	grid-area: summary;
}

@media (min-width: 35.5em) {
	body.work.single > main > header > section.intro > div > blockquote {
		padding-right: var(--margin);
	}
}

body.work.single > main > header > section.intro > div > div {
	grid-area: intro;
}

@media (min-width: 35.5em) {
	body.work.single > main > header > section.intro > div > div {
		padding-bottom: var(--margin--2);
		padding-right: var(--margin);
	}
}

body.work.single > main > header > section.intro > div > aside {
	border-left: var(--border);
	grid-area: services;
	padding-bottom: var(--margin--2);
	padding-left: var(--gutter);
}

@media (min-width: 35.5em) {
	body.work.single > main > header > section.intro > div > aside {
		margin-left: calc(-1 * var(--gutter));
	}
}

body.work.single > main > header > section.intro > div > aside > ul {
	display: flex;
	flex-direction: column;
	row-gap: var(--gutter);
}

body.work.single > main > article {
	display: flex;
	flex-direction: column;
	gap: var(--margin);
	padding: var(--margin) var(--margin) var(--margin--5);
}

body.work.single > main > article > section.double {
	display: grid;
	gap: var(--margin);
	grid-auto-rows: min-content;
}

@media (min-width: 35.5em) {
	body.work.single > main > article > section.double {
		gap: var(--gutter);
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

body.work.single > main > article > section.sticky {
	display: grid;
	grid-auto-rows: min-content;
	grid-template-areas: "text" "images";
	row-gap: var(--margin--2);
}

body.work.single > main > article > section.sticky:not(:first-child) {
	border-top: var(--border);
	padding-top: var(--margin);
}

body.work.single > main > article > section.sticky:last-child > aside {
	padding-bottom: initial;
}

@media (min-width: 35.5em) {
	body.work.single > main > article > section.sticky {
		align-items: start;
		gap: var(--gutter);
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-template-areas: "text images";
	}
}

@media (min-width: 64em) {
	body.work.single > main > article > section.sticky {
		grid-template-areas: "text text text images images images images images";
		grid-template-columns: repeat(8, minmax(0, 1fr));
	}
}

@media (min-width: 78.75em) {
	body.work.single > main > article > section.sticky {
		grid-template-areas: "text images images";
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

body.work.single > main > article > section.sticky > aside {
	grid-area: text;
}

@media (min-width: 35.5em) {
	body.work.single > main > article > section.sticky > aside {
		padding-bottom: var(--margin--3);
		padding-right: var(--gutter);
		position: sticky;
		top: var(--margin);
	}

	body.work.single > main > article > section.sticky > aside.single {
		position: static;
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.work.single > main > article > section.sticky > aside {
		padding-right: var(--margin);
	}
}

body.work.single > main > article > section.sticky > div {
	display: flex;
	flex-direction: column;
	gap: var(--margin);
	grid-area: images;
}

body.work.single > main > section {
	border-top: var(--border);
	padding: var(--margin) var(--margin) var(--margin--5);
}

body.work.single > main > section > header {
	margin-bottom: var(--margin);
}

body.work.single > main > section > menu {
	column-gap: var(--margin);
	display: grid;
	grid-auto-rows: min-content;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	row-gap: var(--margin--2);
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body.work.single > main > section > menu {
		column-gap: var(--gutter);
	}
}

@media (min-width: 35.5em) {
	body.work.single > main > section > menu {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.work.single > main > section > menu {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (min-width: 64em) {
	body.work.single > main > section > menu {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

body.work.single > main > section > menu > li > a {
	grid-template-areas: "image" "client" "summary";
}

@media (min-width: 85em) {
	body.work.single > main > section > menu > li > a {
		grid-template-areas: "image  image  image  image   image   image   image   image" "client client client summary summary summary summary summary";
	}
}

@media (min-width: 100.625em) {
	body.work.single > main > section > menu > li > a {
		grid-template-areas: "image  image" "client summary";
	}
}

body.work .title-summary-body p {
	--typography--size: 1.6rem !important;
}

@media (min-width: 35.5em) {
	body.work .title-summary-body p {
		--typography--size: 1.8rem !important;
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.work .title-summary-body p {
		--typography--size: 2.0rem !important;
	}
}

body.work .featured .title-summary-body p {
	--typography--size: 1.8rem !important;
}

@media (min-width: 35.5em) {
	body.work .featured .title-summary-body p {
		--typography--size: 2.2rem !important;
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body.work .featured .title-summary-body p {
		--typography--size: 2.6rem !important;
	}
}